<div class="hero hero-theme-light" style="background-image: url('/content/membership/assets/everdaymoney.png')">
    <div class="content">
        <div class="logo">
            <img src="/content/membership/assets/icons-volunteer-leadership-promo.svg" />
        </div>
        <div class="title heading-1">
            Leadership Development Conference
        </div>
        <div class="desc text-1">
            Be inspired by world-class speakers at our annual 3-day Leadership Development Conference, where all elected members receive valuable leadership training.
        </div>
        <div class="ctas">
        </div>
    </div>
</div>
<div class="hero hero-theme-light">
    <div class="content">
        <div class="title heading-1">
            Annual Leadership Development Conference
        </div>
        <div class="desc text-1">
            <p>This annual conference offers unique training, development, and networking opportunities with other leaders from across Canada, the United States and the United Kingdom.
                The conference is open to invited attendees, including all elected leaders and Foresters Board of Directors Scholarship winners. 
                These scholarship recipients are chosen based on their contributions to Foresters.</p>
            <p>Member leaders take part in workshops focusing on personal, team, family and community leadership skills, lead by industry experts and senior Foresters leadership.</p>
        </div>
        <div class="ctas">
        </div>
    </div>
</div>
<div class="full-width-container container-theme-dark">
    <div class="two-third-container">
        <div class="image-container" style="background-image: url('/content/membership/assets/helping-families-in-need-630-x-300@3x.png')"></div>
    </div>
    <div class="one-third-container">
        <div class="title heading-1">
            Here’s what our members are saying:
        </div>
        <div class="desc text-1">
            <p>“Absolutely! No other company I know of pours so much into helping members become better people. As I am able to build my personal leadership skills, I am able to reach out and influence many more people much more effectively. Thank you for this amazing opportunity!”</p>
            <p>“[The LDC] makes us more confident in our dealings in Foresters and our other responsibilities – confidence leads to more effective leadership.”</p>
        </div>
    </div>
</div>
<div class="full-width-container no-padding border-bottom">
    <div class="footnotes compliance">
        <div class="compliance-title">
            418346 CAN/US (06/20)
        </div>
        <div class="compliance-body ">
            LawAssure is provided by Epoq, Inc. Epoq is an independent service provider and is not affiliated with Foresters. In Canada, not available in Quebec, the Yukon, the Northwest Territories and Nunavut. LawAssure is not a legal service or legal advice and is not a substitute for legal advice or services of a licensed attorney. Foresters Financial, their employees and life insurance representatives, do not provide, on Foresters behalf, legal, estate or tax advice.
        </div>
        <div class="compliance-link">
            <button class="link text-700 active" type="button"><span>Read more</span></button>
            <button class="link text-700" type="button"><span>Read less</span></button>
        </div>
    </div>
</div>