<header class="main-header">
    <div class="header-row main">
        <div class="logo header-item">
            <a href="/">
                <img src="/content/membership/assets/header-logo.svg" alt="foresters main page" />
            </a>
        </div>
        <div class="menus header-item">
            <!--above mobile screen size-->
            <div class="above-mobile">
                <div class="menu-item-headers">
                    <!--active class is used to indicate selected menu item-->
                    <a href="#" class="menu-item-title active" data-target="#menuItemFullContent1"><h3>Benefits<span class="indicator"></span><span class="down-arrow"></span></h3></a>
                    <a href="#" class="menu-item-title" data-target="#menuItemFullContent2"><h3>Leadership<span class="indicator"></span><span class="down-arrow"></span></h3></a>
                    <a href="#" class="menu-item-title" data-target="#menuItemFullContent3"><h3>Activities<span class="indicator"></span><span class="down-arrow"></span></h3></a>
                    <a href="#" class="menu-item-title" data-target="#menuItemFullContent4"><h3>Foresters Go<span class="indicator"></span><span class="down-arrow"></span></h3></a>
                    <a href="#" class="menu-item-title account" data-target="#menuItemFullContent5"><h3>Account<span class="indicator"></span><span class="down-arrow"></span></h3></a>
                </div>
                <div class="menu-item-contents">
                    <!--active class is used to indicate selected menu item-->
                    <div class="menu-item-content active" id="menuItemFullContent1">
                        <div class="promo">
                            <div class="menu-item-row menu-heading">
                                <img src="/content/membership/assets/icons-lawassure-promo.svg" alt="promo"/>
                                <h3 class="title text-500">LawAssure</h3>
                            </div>
                            <div class="menu-item-row content">
                                Protect your family and prepare for your future with LawAssure, an online document preparation service provided through Epoq that’s convenient and easy to use.
                            </div>
                            <div class="menu-item-row link">
                                <a href="#">Quick Start</a>
                            </div>
                        </div>
                        <div class="sub-menu-links">
                            <div class="column-1">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                                <a href="#">Link 4</a>
                                <a href="#">Link 5</a>
                            </div>
                            <div class="column-2">
                                <a href="#">Link 6</a>
                                <a href="#">Link 7</a>
                                <a href="#">Link 8</a>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item-content" id="menuItemFullContent2">
                        <div class="promo">
                            <div class="menu-item-row menu-heading">
                                <h3 class="title text-500">No Logo LawAssure</h3>
                            </div>
                            <div class="menu-item-row content">
                                Protect your family and prepare for your future with LawAssure, an online document preparation service provided through Epoq that’s convenient and easy to use.
                            </div>
                            <div class="menu-item-row link">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                        <div class="sub-menu-links">
                            <div class="column-1">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                                <a href="#">Link 4</a>
                                <a href="#">Link 5</a>
                            </div>
 
                        </div>
                    </div>
                    <div class="menu-item-content" id="menuItemFullContent3">
                        <div class="promo">
                            <div class="menu-item-row menu-heading">
                                <h3 class="title text-500">No Logo LawAssure</h3>
                            </div>
                            <div class="menu-item-row content">
                                Protect your family and prepare for your future with LawAssure, an online document preparation service provided through Epoq that’s convenient and easy to use.
                            </div>
                            <div class="menu-item-row link">
                                <a href="#">Learn More</a>
                            </div>
                        </div>

                    </div>
                    <div class="menu-item-content" id="menuItemFullContent4">
                        <div class="sub-menu-links">
                            <div class="column-1">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                                <a href="#">Link 4</a>
                                <a href="#">Link 5</a>
                            </div>
                            <div class="column-2">
                                <a href="#">Link 6</a>
                                <a href="#">Link 7</a>
                                <a href="#">Link 8</a>
                            </div>
                        </div>

                    </div>
                    <div class="menu-item-content" id="menuItemFullContent5">
                        <div class="sub-menu-links">
                            <div class="column-1">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                            </div>
                            <div class="column-2">
                                <a href="#">Link 6</a>
                                <a href="#">Link 7</a>
                                <a href="#">Link 8</a>
                            </div>
                        </div>

                    </div>
                </div>                
            </div>
            <!--mobile screen size-->
            <div class="accordion mobile" id="menuItems">
                <div class="">
                    <div class="card menu-item">
                        <!--div id menuItemOneHeader is used to linke heading and content using bootstrap js. This id can be arbitrary -->
                        <div id="menuItemHeader1" class="menu-item-header">
                            <button class="accordion__link mb-0 collapsed" type="button" data-toggle="collapse" data-target="#menuItemContent1" aria-expanded="false" aria-controls="menuItemContent1">
                                Benefits
                            </button>
                        </div>
                        <!--div id menuItemColumnOne are used to link heading with contents for screen readers (accessibility). This id can be arbitrary-->
                        <div id="menuItemContent1" class="collapse menu-item-content" aria-labelledby="menuItemHeader1" data-parent="#menuItems">
                            <div class="card-body">
                                <!--this part is navigation content, not a part of accordion-->
                                <div class="promo">
                                    <div class="menu-item-row menu-heading">
                                        <img src="/content/membership/assets/icons-lawassure-promo.svg" alt="promote"/>
                                        <h3 class="title text-500">LawAssure</h3>
                                    </div>
                                    <div class="menu-item-row content">
                                        Protect your family and prepare for your future with LawAssure, an online document preparation service provided through Epoq that’s convenient and easy to use.
                                    </div>
                                    <div class="menu-item-row link">
                                        <a href="#">Quick Start</a>
                                    </div>
                                </div>
                                <div class="sub-menu-links">
                                    <div class="column-1">
                                        <a href="#">Link 1</a>
                                        <a href="#">Link 2</a>
                                        <a href="#">Link 3</a>
                                        <a href="#">Link 4</a>
                                        <a href="#">Link 5</a>
                                    </div>
                                    <div class="column-2">
                                        <a href="#">Link 6</a>
                                        <a href="#">Link 7</a>
                                        <a href="#">Link 8</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card menu-item">
                        <div id="menuItemHeader2" class="menu-item-header">
                            <button class="accordion__link mb-0 collapsed" type="button" data-toggle="collapse" data-target="#menuItemContent2" aria-expanded="false" aria-controls="menuItemContent2">
                                Activities
                            </button>
                        </div>
                        <div id="menuItemContent2" class="collapse menu-item-content" aria-labelledby="menuItemHeader2" data-parent="#menuItems">
                            <div class="card-body">
                                <!--this part is navigation content, not a part of accordion-->
                                <div class="promo">
                                    <div class="menu-item-row menu-heading">
                                        <h3 class="title text-500">LawAssure No Logo</h3>
                                    </div>
                                    <div class="menu-item-row content">
                                        Protect your family and prepare for your future with LawAssure, an online document preparation service provided through Epoq that’s convenient and easy to use.
                                    </div>
                                    <div class="menu-item-row link">
                                        <a href="#">Quick Start</a>
                                    </div>
                                </div>
                                <div class="sub-menu-links">
                                    <div class="column-1">
                                        <a href="#">Link 1</a>
                                        <a href="#">Link 2</a>
                                        <a href="#">Link 3</a>
                                        <a href="#">Link 4</a>
                                        <a href="#">Link 5</a>
                                    </div>
                                    <div class="column-2">
                                        <a href="#">Link 6</a>
                                        <a href="#">Link 7</a>
                                        <a href="#">Link 8</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card menu-item">
                        <div id="menuItemHeader3" class="menu-item-header">
                            <button class="accordion__link collapsed" type="button" data-toggle="collapse" data-target="#menuItemContent3" aria-expanded="false" aria-controls="menuItemContent3">
                                Leadership
                            </button>
                        </div>
                        <div id="menuItemContent3" class="collapse menu-item-content" aria-labelledby="menuItemHeader3" data-parent="#menuItems">
                            <div class="card-body">
                                <!--this part is navigation content, not a part of accordion-->
                                <div class="promo">
                                    <div class="menu-item-row menu-heading">
                                        <h3 class="title text-500">LawAssure No Logo</h3>
                                    </div>
                                    <div class="menu-item-row content">
                                        Protect your family and prepare for your future with LawAssure, an online document preparation service provided through Epoq that’s convenient and easy to use.
                                    </div>
                                    <div class="menu-item-row link">
                                        <a href="#">Quick Start</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card menu-item">
                        <div id="menuItemHeader4" class="menu-item-header">
                            <button class="accordion__link collapsed" type="button" data-toggle="collapse" data-target="#menuItemContent4" aria-expanded="false" aria-controls="menuItemContent4">
                                Foresters Go
                            </button>
                        </div>
                        <div id="menuItemContent4" class="collapse menu-item-content" aria-labelledby="menuItemHeader4" data-parent="#menuItems">
                            <div class="card-body">
                                <div class="sub-menu-links">
                                    <div class="column-1">
                                        <a href="#">Link 1</a>
                                        <a href="#">Link 2</a>
                                        <a href="#">Link 3</a>
                                        <a href="#">Link 4</a>
                                        <a href="#">Link 5</a>
                                    </div>
                                    <div class="column-2">
                                        <a href="#">Link 6</a>
                                        <a href="#">Link 7</a>
                                        <a href="#">Link 8</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card menu-item">
                        <div id="menuItemHeader5" class="menu-item-header">
                            <button class="accordion__link account collapsed" type="button" data-toggle="collapse" data-target="#menuItemContent5" aria-expanded="false" aria-controls="menuItemContent5">
                                Account
                            </button>
                        </div>
                        <div id="menuItemContent5" class="collapse menu-item-content" aria-labelledby="menuItemHeader5" data-parent="#menuItems">
                            <div class="card-body">
                                Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-icon-container">
            <button class="menu-icon"></button>
        </div>
    </div>
</header>