<header class="main-header">
    <div class="header-row main">
        <div class="logo header-item">
            <a href="/">
                <img src="/content/membership/assets/header-logo.svg" alt="foresters main page" />
            </a>
        </div>       
        <div class="profile country-select-wrapper header-item">
            <!-- non-auth -->
            <div class="country-select">
                <!--Default selection on page load or cookie setting-->
                <div class="country-select__trigger">
                    <div class="flag">
                        <img src="/content/membership/assets/en-ca.svg" alt="" />
                    </div>
                </div>
                <div class="country-options">
                    <!--locale code is used to show flags, available options are en-ca fr-ca, en-us, en-gb-->
                    <div class="country-option selected" data-value="en-ca">
                        <span>Canada (English)</span>
                        <img src="/content/membership/assets/en-ca.svg" alt="" />
                    </div>
                    <div class="country-option" data-value="fr-ca">
                        <span>Canada (French)</span>
                        <img src="/content/membership/assets/fr-ca.svg" alt="" />
                    </div>
                    <div class="country-option" data-value="en-us">
                        <span>USA (English)</span>
                        <img src="/content/membership/assets/en-us.svg" alt="" />
                    </div>
                    <div class="country-option" data-value="en-gb">
                        <span>United Kingdom (English)</span>
                        <img src="/content/membership/assets/en-gb.svg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>