<footer class="footer">
    <div class="d-sm-block d-md-none">
        <div class="logo">
            <a href="/">
                <img src="/content/membership/assets/48-h.svg" alt="foresters main page" />
            </a>
        </div>
        <div class="accordion" id="footerNav">
            <div class="d-none is-authenticated">

                <div class="card">
                    <!--div id headingOne is used to linke heading and content using bootstrap js. This id can be arbitrary -->
                    <div id="headingOne">
                        <button class="accordion__link mb-0 collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Account
                        </button>
                    </div>
                    <!--div id columnOne are used to link heading with contents for screen readers (accessibility). This id can be arbitrary-->
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#footerNav">
                        <div class="card-body">
                            <a href="#">My profile</a>
                            <a href="#">Service forms</a>
                            <a href="#">Make a payment</a>
                        </div>
                        <div class="card-body">
                            <div class="sub-heading">Language</div>
                            <div class="lang-options">
                                <!--countries can be set with iamge name, USA -> us.svg, CANADA ca.svg, UK gb.svg-->
                                <img src="/content/membership/assets/ca.svg" alt="The United States" />
                                <a class="is-disabled option">English</a><!--selected/disabled link should not have href attribute in order not to make it a link-->
                                <a href="/fr" class="option">Français</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div id="headingTwo">
                        <button class="accordion__link mb-0 collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Well-being
                        </button>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#footerNav">
                        <div class="card-body">
                            <a href="#">Foresters Go</a>
                            <a href="#">LawAssure</a>
                            <a href="#">Other</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div id="headingThree">
                        <button class="accordion__link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Scholarships
                        </button>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#footerNav">
                        <div class="card-body">
                            <a href="#">Competitive scholarship</a>
                            <a href="#">Orphan scholarship</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div id="headingFour">
                        <button class="accordion__link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Community Grants
                        </button>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#footerNav">
                        <div class="card-body">
                            <a href="#">YourCause</a>
                            <a href="#">Resources</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div id="heading5">
                        <button class="accordion__link collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                            Member leadership
                        </button>
                    </div>
                    <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#footerNav">
                        <div class="card-body">
                            <a href="#">Become an elected leader</a>
                            <a href="#">Nominations & voting</a>
                            <a href="#">Your Branch</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div id="heading6">
                        <button class="accordion__link collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                            Contact us
                        </button>
                    </div>
                    <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#footerNav">
                        <div class="card-body">
                            <div class="sub-heading">Client support</div>
                            <a href="tel:123-456-7890">123-456-7890</a>
                            <a href="mailto:MyForesters@Foresters.com">MyForesters@foresters.com</a>
                        </div>
                        <div class="card-body">
                            <div class="sub-heading">Technical assistance</div>
                            <a href="tel:123-456-7890">123-456-7890</a>
                            <p class="hours">(weekdays 8:00 a.m. – 8:00 p.m. ET)</p>
                            <a href="mailto:service@Foresters.com">service@foresters.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div id="heading7">
                    <button class="accordion__link collapsed" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                        Legal + Privacy
                    </button>
                </div>
                <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#footerNav">
                    <div class="card-body">
                        <a href="#">FAQ</a>
                        <a href="#">Foresters.com</a>
                        <a href="#">Privacy Policy</a>
                        <a href="#">Cookie Policy</a>
                        <a href="#">Terms of use</a>
                        <a href="#">Definitions</a>
                        <p>
                            Description of member benefits that you may receive assumes that you are a Foresters member. Foresters member benefits are non-contractual, subject to benefit specific Eligibility requirements, Definitions and limitations and may be changed or cancelled without notice.
                            Foresters Financial and Foresters are trade names and trademarks of The Independent Order of Foresters (a fraternal benefit society, 789 Don Mills Road, Toronto, Canada M3C 1T9) and its subsidiaries.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-links">
            <div class="social-wrapper">
                <a class="social" href="#">
                    <img src="/content/membership/assets/facebook.svg" alt="facebook" />
                </a>
                <a class="social" href="#">
                    <img src="/content/membership/assets/twitter.svg" alt="twitter" />
                </a>
                <a class="social" href="#">
                    <img src="/content/membership/assets/linkedin.svg" alt="linkedin" />
                </a>
                <a class="social" href="#">
                    <img src="/content/membership/assets/instagram.svg" alt="instagram" />
                </a>
            </div>
        </div>
    </div>
    <div class="d-none d-md-block">
        <!--is-authenticated class is used to hide and show autheticated contents-->
        <div class="d-none is-authenticated">
            <div class="wrapper">
                <div class="column">
                    <div class="card">
                        <div class="heading">
                            Account
                        </div>
                        <div class="content">
                            <div class="card-body">
                                <a href="#">My profile</a>
                                <a href="#">Service forms</a>
                                <a href="#">Make a payment</a>
                            </div>
                            <div class="card-body">
                                <div class="sub-heading">Language</div>
                                <div class="lang-options">
                                    <!--countries can be set with iamge name, USA -> us.svg, CANADA ca.svg, UK gb.svg-->
                                    <img src="/content/membership/assets/ca.svg" alt="The United States" />
                                    <a class="is-disabled option">English</a><!--selected/disabled link should not have href attribute in order not to make it a link-->
                                    <a href="/fr" class="option">Français</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="heading">
                            Well-being
                        </div>
                        <div class="content">
                            <div class="card-body">
                                <a href="#">Foresters Go</a>
                                <a href="#">LawAssure</a>
                                <a href="#">Other</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="heading">
                            Scholarships
                        </div>
                        <div class="content">
                            <div class="card-body">
                                <a href="#">Competitive scholarship</a>
                                <a href="#">Orphan scholarship</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="heading">
                            Community Grants
                        </div>
                        <div class="content">
                            <div class="card-body">
                                <a href="#">YourCause</a>
                                <a href="#">Resources</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="heading">
                            Member leadership
                        </div>
                        <div class="content">
                            <div class="card-body">
                                <a href="#">Become an elected leader</a>
                                <a href="#">Nominations & voting</a>
                                <a href="#">Your Branch</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="heading">
                            Contact us
                        </div>
                        <div class="content">
                            <div class="card-body">
                                <div class="sub-heading">Client support</div>
                                <a href="tel:123-456-7890">123-456-7890</a>
                                <a href="mailto:MyForesters@Foresters.com">MyForesters@foresters.com</a>
                            </div>
                            <div class="card-body">
                                <div class="sub-heading">Technical assistance</div>
                                <a href="tel:123-456-7890">123-456-7890</a>
                                <p class="hours">(weekdays 8:00 a.m. – 8:00 p.m. ET)</p>
                                <a href="mailto:service@Foresters.com">service@foresters.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="logo">
                    <a href="/">
                        <img src="/content/membership/assets/48-h.svg" alt="foresters main page" />
                    </a>
                </div>
                <div class="social-links">
                    <div class="social-wrapper">
                        <a class="social" href="#">
                            <img src="/content/membership/assets/facebook.svg" alt="facebook" />
                        </a>
                        <a class="social" href="#">
                            <img src="/content/membership/assets/twitter.svg" alt="twitter" />
                        </a>
                        <a class="social" href="#">
                            <img src="/content/membership/assets/linkedin.svg" alt="linkedin" />
                        </a>
                        <a class="social" href="#">
                            <img src="/content/membership/assets/instagram.svg" alt="instagram" />
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper legal">
            <div class="card">
                <div class="card-body">
                    <a href="#">FAQ</a>
                    <a href="#">Foresters.com</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Cookie Policy</a>
                    <a href="#">Terms of use</a>
                    <a href="#">Definitions</a>
                    <p>
                        Description of member benefits that you may receive assumes that you are a Foresters member. Foresters member benefits are non-contractual, subject to benefit specific Eligibility requirements, Definitions and limitations and may be changed or cancelled without notice.
                        Foresters Financial and Foresters are trade names and trademarks of The Independent Order of Foresters (a fraternal benefit society, 789 Don Mills Road, Toronto, Canada M3C 1T9) and its subsidiaries.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>