<div class="forgot-cert-email-sent">
    <div class="info">
        <div class="title heading-3">Recovery Email Sent</div>        
        <div class="desc body-1">
            If the information you provided matches a Foresters membership plan, an email should be sent to <span class="email">username@company.com</span>
        </div>
    </div>
    <div class="heading-1">Didn’t get the email??</div>
    <div class="action send-again">
        <button type="button" class="button-primary">Send Email Again</button>
    </div>
    <div class="action reenter">
        <button type="button" class="button-secondary">Reenter Information</button>
    </div>
    <div class="action signin">
        <a href="/login.html" class="cta-text">Back to Sign in</a>
    </div>

</div>
