@import "../../styles/_mixins.scss";


.forget-password {
    display: block;
    background-color: white;

    .forget-password-wrapper {
        padding: 48px 20px;

        .forget-password-form, .forget-username-password-form {
            .item-row {
                padding: 16px 0;

                .item-wrapper {
                    padding-top: 8px;
                    padding-bottom: 8px;

                    &:first-child {
                        padding-top: 0;
                    }

                    &:last-child {
                        padding-bottom: 0;
                    }

                    .label-1 {
                        display: block;

                        input.input-field {
                            font-family: MuseoSans-300;
                            font-size: 16px;
                            font-weight: 300;
                            color: $text-2;
                        }
                    }

                    .input-field {
                        width: 100%;
                    }
                }
            }

            .info {

                .heading-1 {
                    padding-bottom: 16px;
                    text-align: center;
                }

                .body-1 {
                    padding-bottom: 48px;
                }
            }

            .dob {

                .input-field {
                    margin: 8px 0;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                legend.label-1 {
                    margin-bottom: 0;
                }

                select {
                    -moz-appearance: none; /* Firefox */
                    -webkit-appearance: none; /* Safari and Chrome */
                    -ms-appearance: none; /* Edge */
                    appearance: none;
                    background: url("/content/membership/assets/down-arrow.svg") no-repeat right 16px center;
                }

                select::-ms-expand {
                    display: none;
                }
            }

            .action {

                &.submit {
                    margin-top: 26px;
                }

                &.signin {
                    margin-top: 16px;
                }

                .button-primary, .cta-text {
                    width: 100%;
                    max-width: 100%;
                    display: block;
                }

                a.cta-text {
                    &::before {
                        content: url("/content/membership/assets/back.svg");
                        width: 16px;
                        height: 16px;
                        position: relative;
                        top: 3px;
                        right: 5px;
                        display: inline-block;
                    }
                }
            }
        }
    }
}

@include respond-above(xs) {
    .forget-password {

        .forget-password-wrapper {
            width: 596px;
            margin: 0 auto;

            .forget-password-form, .forget-username-password-form {
                .item-row {
                    padding-top: 0;
                    padding-bottom: 0;
                }

                .info {
                    padding-bottom: 16px;
                }

                .item-row {
                    padding: 16px 0;

                    .item-wrapper {
                        display: inline-block;
                        padding-top: 0;
                        padding-bottom: 0;
                        width: 100%;

                        .input-field {
                            display: inline-block;
                        }
                    }
                }


                .dob {
                    fieldset {
                        margin: 0;
                    }

                    .item-wrapper {
                        width: 192px;

                        legend {
                        }

                        .fields {
                            width: 596px;

                            .input-field {
                                display: inline-block;

                                &:not(:last-child) {
                                    margin-right: 32px;
                                }
                            }

                            .month {
                                width: 192px;
                            }

                            .day {
                                width: 128px;
                            }

                            .year {
                                width: 160px;
                            }
                        }
                    }
                }

                .action {

                    &.submit {
                        margin-top: 32px;
                    }

                    &.signin {
                        margin-top: 12px;
                    }
                }
            }
        }
    }
}
    
