<main class="forget-password">
    <div class="forget-password-wrapper">
        <form class="forget-password-form" action="api/forget-password-form" method="post">
            <div class="info">
                <div class="heading-1">Are you having trouble signing in?</div>
                <div class="body-1">Please enter the following recovery information to verify that you are the owner
                    of
                    this account. You will receive an email with your username and instructions for resetting your
                    password. </div>
                <div class="body-2-italic">All fields are required unless otherwise indicated.</div>
            </div>

            <div class="item-row error-wrapper">
                <!--adding no-error style will hide this error section-->
                <div class="error-title-wrapper"><span class="warning-icon">!</span><span
                        class="error-title text-500">Verification Error</span></div>
                <div class="error-message">The information you entered seems to be incorrect. Please try again.</div>
            </div>

            <div class="item-row email">
                <!--d-none-->
                <div class="item-wrapper">
                    <label class="label-1" for="email">
                        Email Address
                        <input type="email" class="input-field" id="email" pattern="[\w-\.]+@([\w-]+\.)+[\w-]{2,4}"
                            required />
                        <span class="error">Please enter a valid email address</span>
                    </label>
                    <div class="caption-text">Email address you provided at the time of registration or subsequently
                        updated.</div>
                </div>
            </div>

            <div class="item-row dob">
                <fieldset class="item-wrapper">
                    <legend class="label-1">
                        Date of Birth
                    </legend>
                    <div class="fields">
                        <select id="month" class="input-field month" name="month" aria-label="Month" required>
                            <option value="" disabled selected>Month</option>
                            <option value="1">Jan</option>
                            <option value="2">Feb</option>
                            <option value="3">Mar</option>
                            <option value="4">Apr</option>
                            <option value="5">May</option>
                            <option value="6">Jun</option>
                            <option value="7">Jul</option>
                            <option value="8">Aug</option>
                            <option value="9">Sep</option>
                            <option value="10">Oct</option>
                            <option value="11">Nov</option>
                            <option value="12">Dec</option>
                        </select>
                        <input id="day" class="input-field day" name="day" placeholder="Day" aria-label="Day" required min="1" max="31" type="number" />
                        <input id="year" class="input-field year" name="year" placeholder="Year" aria-label="Year" required min="1900" max="2050" type="number" />
                        <span class="error">Please enter a valid date</span>
                    </div>
                </fieldset>
            </div>

            <div class="item-row action submit">
                <!--show the busy cursor with darker background color by applying class active when ajax is in progerss-->
                <button type="submit" class="button-primary">Send Recovery Email</button>
            </div>
            <div class="item-row action signin">
                <a href="#" class="cta-text">Back to Sign In</a>
            </div>
        </form>
    </div>
</main>