<div class="hero hero-theme-dark hero-gradient" style="background-image: url('/content/membership/assets/multi-sport-court-long-beach-us-2019-74.png')">
    <div class="content">
        <div class="logo">
            <img src="/content/membership/assets/icons-community-grants-promo.svg" />
        </div>
        <div class="title heading-1">
            Make a difference in your community
        </div>
        <div class="desc text-1">
            Click on the ‘Get started’ button below to learn more about changes to our grants, including more flexible activity criteria and quicker review times for some applications.
        </div>
        <div class="ctas">
            <div class="cta">
                <a href="#" class="button-primary">Get started</a>
            </div>
        </div>
    </div>
</div>
<div class="full-width-container no-padding container-theme-light">
    <div class="card-container">
        <div class="card-header">
            <div class="desc text-1">
                Community Grants enable members to become involved in their communities by hosting or attending meaningful activities to help people in need during difficult times. As we continue to abide by local government and health authority safety guidelines, due to COVID-19, we encourage you to come together in participation of our Community Grants program. Active members who are 18 years of age and older can submit their applications now to be considered for approval. Please see eligibility details within the grants guidelines.
            </div>
        </div>
        <div class="card-items">
            <div class="card-item" data-toggle="modal" data-target="#videoModal" data-src="https://www.youtube.com/embed/Qbp37MF6-ZU">
                <div class='image-container' style="background-image: url('/content/membership/assets/volunteer-2@3x.png')">
                    <div class="video-play-button">
                        <span></span>
                    </div>
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Community volunteer
                    </div>
                    <div class="desc text-1">
                        Offer engaging hands-on volunteer opportunities to help make positive changes in local communities
                    </div>
                </div>
                <div class="link-container">
                    <a href="#" class="link">Learn more</a>
                </div>
            </div>
            <div class="card-item" data-toggle="modal" data-target="#videoModal" data-src="https://fast.wistia.net/embed/iframe/jgbic10ngj">
                <div class='image-container' style="background-image: url('/content/membership/assets/member-benefits-630-x-300@3x.jpg')">
                    <div class="video-play-button">
                        <span></span>
                    </div>
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Fun family activities near you
                    </div>
                    <div class="desc text-1">
                        Exclusive opportunities for Foresters members that promote the well-being of families.
                    </div>
                </div>
                <div class="link-container">
                    <a href="#" class="link">Learn more</a>
                </div>
            </div>
            <div class="card-item">
                <div class='image-container' style="background-image: url('/content/membership/assets/playground-build-minneapolis-us-2018-013-0460-01@3x.jpg')">
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Make an Impact
                    </div>
                    <div class="desc text-1">
                        This new Foresters benefit helps you make an impact in your local community with a one-time grant.
                    </div>
                </div>
                <div class="link-container">
                    <a href="#" class="link">Learn more</a>
                </div>
            </div>
            <div class="card-item">
                <div class='image-container' style="background-image: url('/content/membership/assets/volunteer-2@3x.png')">
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Community volunteer
                    </div>
                    <div class="desc text-1">
                        Offer engaging hands-on volunteer opportunities to help make positive changes in local communities
                    </div>
                </div>
                <div class="link-container">
                    <a href="#" class="link">Learn more</a>
                </div>
            </div>
            <div class="card-item">
                <div class='image-container' style="background-image: url('/content/membership/assets/member-benefits-630-x-300@3x.jpg')">
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Fun family activities near you
                    </div>
                    <div class="desc text-1">
                        Exclusive opportunities for Foresters members that promote the well-being of families.
                    </div>
                </div>
                <div class="link-container">
                    <a href="#" class="link">Learn more</a>
                </div>
            </div>
            <div class="card-item">
                <div class='image-container' style="background-image: url('/content/membership/assets/playground-build-minneapolis-us-2018-013-0460-01@3x.jpg')">
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Make an Impact
                    </div>
                    <div class="desc text-1">
                        This new Foresters benefit helps you make an impact in your local community with a one-time grant.
                    </div>
                </div>
                <div class="link-container">
                    <a href="#" class="link">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="full-width-container container-theme-teal">
    <!--tab component-->
    <div class="tabs-container single-tab">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active tab-title" id="nomination_link"
                   data-toggle="tab" href="#nomination_link_content" role="tab"
                   aria-controls="nomination_formlist" aria-selected="true">Community volunteer grant resources</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="nomination_link_content" role="tabpanel" aria-labelledby="nomination_formlist">
                <!--form list-->
                <div class="form-list accordion" id="nomination_formlist">
                    <div class="card">
                        <div id="heading1">
                            <div class="accordion__link mb-0">
                                Guidelines
                            </div>
                            <a href="#" class="download"></a>
                        </div>
                        <div id="collapse1" class="collapse show">
                            <div class="card-body">
                                The Community Grant Guidelines provide a listing of expectations, requirements and criteria.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div id="heading2">
                            <div class="accordion__link mb-0">
                                FAQ
                            </div>
                            <a href="#" class="download"></a>
                        </div>
                        <div id="collapse2" class="collapse show">
                            <div class="card-body">
                                Read more about Community Volunteer Grants in our Frequently Asked Questions (FAQ).
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div id="heading3">
                            <div class="accordion__link">
                                Non-Qualifying Budget Items (NQBI)
                            </div>
                            <a href="#" class="download"></a>
                        </div>
                        <div id="collapse3" class="collapse show">
                            <div class="card-body">
                                The Non-Qualifying Budget Items outlines cost that are not covered by the Community Grants.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div id="heading3">
                            <div class="accordion__link">
                                U.S Paycard Guide
                            </div>
                            <a href="#" class="download"></a>
                        </div>
                        <div id="collapse3" class="collapse show">
                            <div class="card-body">
                                Have questions about U.S. paycards? See our guide for details.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div id="heading3">
                            <div class="accordion__link">
                                Terms and Conditions
                            </div>
                            <a href="#" class="download"></a>
                        </div>
                        <div id="collapse3" class="collapse show">
                            <div class="card-body">
                                Review the regulations that require your consent in order to participate in the Community Grants
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div id="heading3">
                            <div class="accordion__link">
                                Volunteer Code of Ethics
                            </div>
                            <a href="#" class="download"></a>
                        </div>
                        <div id="collapse3" class="collapse show">
                            <div class="card-body">
                                The Volunteer Code of Ethics which sets out the commitments we seek from our volunteers.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div id="heading3">
                            <div class="accordion__link">
                                Volunteer Toolkit
                            </div>
                            <a href="#" class="download"></a>
                        </div>
                        <div id="collapse3" class="collapse show">
                            <div class="card-body">
                                Help guides, vendor resource information, and more to help you plan a successful activity.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="full-width-container no-padding border-bottom">
    <div class="footnotes compliance">
        <div class="compliance-title">
            418346 CAN/US (06/20)
        </div>
        <div class="compliance-body ">
            LawAssure is provided by Epoq, Inc. Epoq is an independent service provider and is not affiliated with Foresters. In Canada, not available in Quebec, the Yukon, the Northwest Territories and Nunavut. LawAssure is not a legal service or legal advice and is not a substitute for legal advice or services of a licensed attorney. Foresters Financial, their employees and life insurance representatives, do not provide, on Foresters behalf, legal, estate or tax advice.
        </div>
        <div class="compliance-link">
            <button class="link text-700 active" type="button"><span>Read more</span></button>
            <button class="link text-700" type="button"><span>Read less</span></button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal video-modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>        
          <!-- 16:9 aspect ratio -->
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
            </div>
        </div>
      </div>
    </div>
  </div> 
</div>