<div class="hero hero-theme-light hero-gradient" style="background-image: url('/content/membership/assets/everdaymoney.png')">
    <div class="content">
        <div class="logo">
            <img src="/content/membership/assets/icons-volunteer-leadership-promo.svg" />
        </div>
        <div class="title heading-1">
            Your branch: Greater Toronto Area
        </div>
        <div class="desc text-1">
            Part of being a member of Foresters is being able to get involved in governing our organization.
        </div>
        <div class="ctas">
            <div class="cta">
                <button type="button" class="button-primary">Nominations FAQ</button>
            </div>
        </div>
    </div>
</div>
<div class="full-width-container">
    <div class="one-third-container">
        <div class="title heading-1">Branch meetings</div>
        <div class="desc text-1">
            <p>
                Foresters, as a member-governed organization, focuses our efforts on the family well-being of our members and their communities. Your Branch meets regularly to discuss local member governance, review financial reports, provide oversight of local community activities, and provide input on other issues related the Branch's purpose and responsibilities. If you would like to attend a meeting of your Branch, please join us to discuss issues that can affect you, your family and your community.
            </p>
            <p>
                Call the following number to join the meeting and, when prompted, enter your Participant Code.
            </p>
            <p><b>Teleconference Number:</b> <a href="tel:18002017439">1-800-201-7439</a></p>
            <p><b>Participant code:</b> <span>425383</span></p>
            <p>
                All meetings are about an hour and conducted via conference call, so you can attend meetings comfortably from your home.
            </p>
        </div>
    </div>
    <div class="two-third-container">
        <div class="title heading-1">Meeting date and time</div>
        <table class="date-time-table data-table">
            <tr class="data-table-header">
                <th class="data-table-cell header-cell">
                    Month
                </th>
                <th class="data-table-cell header-cell">
                    Day
                </th>
                <th class="data-table-cell header-cell">
                    Time
                </th>
            </tr>
            <tr class="data-table-row">
                <td class="data-table-cell">
                    January
                </td>
                <td class="data-table-cell">
                    Wednesday January 15, 2020
                </td>
                <td class="data-table-cell">
                    7-8 pm ET
                </td>
            </tr>
            <tr class="data-table-row">
                <td class="data-table-cell">
                    January
                </td>
                <td class="data-table-cell">
                    Wednesday January 15, 2020
                </td>
                <td class="data-table-cell">
                    7-8 pm ET
                </td>
            </tr>
            <tr class="data-table-row">
                <td class="data-table-cell">
                    January
                </td>
                <td class="data-table-cell">
                    Wednesday January 15, 2020
                </td>
                <td class="data-table-cell">
                    7-8 pm ET
                </td>
            </tr>
            <tr class="data-table-row">
                <td class="data-table-cell">
                    January
                </td>
                <td class="data-table-cell">
                    Wednesday January 15, 2020
                </td>
                <td class="data-table-cell">
                    7-8 pm ET
                </td>
            </tr>
            <tr class="data-table-row">
                <td class="data-table-cell">
                    January
                </td>
                <td class="data-table-cell">
                    Wednesday January 15, 2020
                </td>
                <td class="data-table-cell">
                    7-8 pm ET
                </td>
            </tr>
            <tr class="data-table-row">
                <td class="data-table-cell">
                    January
                </td>
                <td class="data-table-cell">
                    Wednesday January 15, 2020
                </td>
                <td class="data-table-cell">
                    7-8 pm ET
                </td>
            </tr>
            <tr class="data-table-row">
                <td class="data-table-cell">
                    January
                </td>
                <td class="data-table-cell">
                    Wednesday January 15, 2020
                </td>
                <td class="data-table-cell">
                    7-8 pm ET
                </td>
            </tr>
            <tr class="data-table-row">
                <td class="data-table-cell">
                    January
                </td>
                <td class="data-table-cell">
                    Wednesday January 15, 2020
                </td>
                <td class="data-table-cell">
                    7-8 pm ET
                </td>
            </tr>
            <tr class="data-table-row">
                <td class="data-table-cell">
                    January
                </td>
                <td class="data-table-cell">
                    Wednesday January 15, 2020
                </td>
                <td class="data-table-cell">
                    7-8 pm ET
                </td>
            </tr>
            <tr class="data-table-row">
                <td class="data-table-cell">
                    January
                </td>
                <td class="data-table-cell">
                    Wednesday January 15, 2020
                </td>
                <td class="data-table-cell">
                    7-8 pm ET
                </td>
            </tr>
            <tr class="data-table-row">
                <td class="data-table-cell">
                    January
                </td>
                <td class="data-table-cell">
                    Wednesday January 15, 2020
                </td>
                <td class="data-table-cell">
                    7-8 pm ET
                </td>
            </tr>
        </table>
        <p class="pt-16">
            *Note – as the Branch meets face to face in June and November, the regular teleconference meeting will not take place
        </p>
    </div>
</div>
<div class="full-width-container">
    <div class="one-third-container">
        <div class="title heading-1">Your Branch Council</div>
        <div class="accordion" id="branch_council">
            <div class="card">
                <!--div id headingOne is used to linke heading and content using bootstrap js. This id can be arbitrary -->
                <div id="councilHeadingOne">
                    <button class="accordion__link mb-0 collapsed" type="button" data-toggle="collapse" data-target="#councilColumnOne" aria-expanded="false" aria-controls="collapseOne">
                        Branch Councillors
                    </button>
                </div>
                <!--div id columnOne are used to link heading with contents for screen readers (accessibility). This id can be arbitrary-->
                <div id="councilColumnOne" class="collapse" aria-labelledby="councilColumnOne" data-parent="#branch_council">
                    <div class="card-body">
                        <div class="desc text-1">
                            <p class="pt-16"><b>President:</b></p>
                            <p>Gregory Reid</p>
                            <p class="pt-16"><b>Vice President:</b></p>
                            <p>Theresa Partridge</p>
                            <p class="pt-16"><b> Councillors:</b></p>
                            <p>Fraser Armstrong</p>
                            <p>Brenda Blaber</p>
                            <p>Barbara Byrne   </p>
                            <p>Kathleen Dionne </p>
                            <p>Kevin Herman    </p>
                            <p>Roanna McCormack</p>
                            <p>Glenn Nicholson </p>
                            <p>John A Pearston </p>
                            <p>Jeffrey Poloz   </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div id="councilHeadingTwo">
                    <button class="accordion__link mb-0 collapsed" type="button" data-toggle="collapse" data-target="#councilCloumnTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Regional Councillors
                    </button>
                </div>
                <div id="councilCloumnTwo" class="collapse" aria-labelledby="councilCloumnTwo" data-parent="#branch_council">
                    <div class="card-body">
                        <div class="desc text-1">
                            <p class="pt-16"><b>President:</b></p>
                            <p>Gregory Reid</p>
                            <p class="pt-16"><b>Vice President:</b></p>
                            <p>Theresa Partridge</p>
                            <p class="pt-16"><b> Councillors:</b></p>
                            <p>Fraser Armstrong</p>
                            <p>Brenda Blaber</p>
                            <p>Barbara Byrne   </p>
                            <p>Kathleen Dionne </p>
                            <p>Kevin Herman    </p>
                            <p>Roanna McCormack</p>
                            <p>Glenn Nicholson </p>
                            <p>John A Pearston </p>
                            <p>Jeffrey Poloz   </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="pt-16"><a href="#" class="body-1-link">Get to know your Branch Council</a></p>
    </div>
    <div class="two-third-container">
        <div class="title heading-1">Meeting minutes</div>

        <div class="accordion" id="meeting_minutes">
            <div class="card">
                <!--div id headingOne is used to linke heading and content using bootstrap js. This id can be arbitrary -->
                <div id="meetinHeadingOne">
                    <button class="accordion__link mb-0 collapsed" type="button" data-toggle="collapse" data-target="#meetingColumnOne" aria-expanded="false" aria-controls="collapseOne">
                        2020 Meeting Minutes
                    </button>
                </div>
                <!--div id columnOne are used to link heading with contents for screen readers (accessibility). This id can be arbitrary-->
                <div id="meetingColumnOne" class="collapse" aria-labelledby="meetingColumnOne" data-parent="#meeting_minutes">
                    <div class="card-body">
                        <div class="download-link"><a href="/content/membership/assets/sample.pdf" target="_blank" class="link download" dowanlod>January 2020 meeting minutes</a></div>
                        <div class="download-link"><a href="/content/membership/assets/sample.pdf" target="_blank" class="link download" dowanlod>January 2020 meeting minutes</a></div>
                        <div class="download-link"><a href="/content/membership/assets/sample.pdf" target="_blank" class="link download" dowanlod>January 2020 meeting minutes</a></div>
                        <div class="download-link"><a href="/content/membership/assets/sample.pdf" target="_blank" class="link download" dowanlod>January 2020 meeting minutes</a></div>
                        <div class="download-link"><a href="/content/membership/assets/sample.pdf" target="_blank" class="link download" dowanlod>January 2020 meeting minutes</a></div>
                        <div class="download-link"><a href="/content/membership/assets/sample.pdf" target="_blank" class="link download" dowanlod>January 2020 meeting minutes</a></div>
                        <div class="download-link"><a href="/content/membership/assets/sample.pdf" target="_blank" class="link download" dowanlod>January 2020 meeting minutes</a></div>
                        <div class="download-link"><a href="/content/membership/assets/sample.pdf" target="_blank" class="link download" dowanlod>January 2020 meeting minutes</a></div>
                        <div class="download-link"><a href="/content/membership/assets/sample.pdf" target="_blank" class="link download" dowanlod>January 2020 meeting minutes</a></div>
                        <div class="download-link"><a href="/content/membership/assets/sample.pdf" target="_blank" class="link download" dowanlod>January 2020 meeting minutes</a></div>
                        <div class="download-link"><a href="/content/membership/assets/sample.pdf" target="_blank" class="link download" dowanlod>January 2020 meeting minutes</a></div>
                        <div class="download-link"><a href="/content/membership/assets/sample.pdf" target="_blank" class="link download" dowanlod>January 2020 meeting minutes</a></div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div id="meetinHeadingTwo">
                    <button class="accordion__link mb-0 collapsed" type="button" data-toggle="collapse" data-target="#meetingColumnTwo" aria-expanded="false" aria-controls="collapseTwo">
                        2019 Meeting Minutes
                    </button>
                </div>
                <div id="meetingColumnTwo" class="collapse" aria-labelledby="meetingColumnTwo" data-parent="#meeting_minutes">
                    <div class="card-body">
                        <div class="download-link"><a href="/content/membership/assets/sample.pdf" target="_blank" class="link download" dowanlod>January 2019 meeting minutes</a></div>
                        <div class="download-link"><a href="/content/membership/assets/sample.pdf" target="_blank" class="link download" dowanlod>January 2019 meeting minutes</a></div>
                        <div class="download-link"><a href="/content/membership/assets/sample.pdf" target="_blank" class="link download" dowanlod>January 2019 meeting minutes</a></div>
                        <div class="download-link"><a href="/content/membership/assets/sample.pdf" target="_blank" class="link download" dowanlod>January 2019 meeting minutes</a></div>
                        <div class="download-link"><a href="/content/membership/assets/sample.pdf" target="_blank" class="link download" dowanlod>January 2019 meeting minutes</a></div>
                        <div class="download-link"><a href="/content/membership/assets/sample.pdf" target="_blank" class="link download" dowanlod>January 2019 meeting minutes</a></div>
                        <div class="download-link"><a href="/content/membership/assets/sample.pdf" target="_blank" class="link download" dowanlod>January 2019 meeting minutes</a></div>
                        <div class="download-link"><a href="/content/membership/assets/sample.pdf" target="_blank" class="link download" dowanlod>January 2019 meeting minutes</a></div>
                        <div class="download-link"><a href="/content/membership/assets/sample.pdf" target="_blank" class="link download" dowanlod>January 2019 meeting minutes</a></div>
                        <div class="download-link"><a href="/content/membership/assets/sample.pdf" target="_blank" class="link download" dowanlod>January 2019 meeting minutes</a></div>
                        <div class="download-link"><a href="/content/membership/assets/sample.pdf" target="_blank" class="link download" dowanlod>January 2019 meeting minutes</a></div>
                        <div class="download-link"><a href="/content/membership/assets/sample.pdf" target="_blank" class="link download" dowanlod>January 2019 meeting minutes</a></div>
                    </div>
                </div>
            </div>           
        </div>
    </div>
</div>