<div class="hero hero-theme-dark hero-gradient" style="background-image: url('/content/membership/assets/all-my-benefits-1440x500.jpg')">
    <div class="content">
        <div class="logo">
            <img src="/content/membership/assets/icons-medical-added-benefits-promo.svg" />
        </div>
        <div class="title heading-1"><!--Note: User's first name should be embeded by integration-->
            All of <span class="first-name">[UserFirstName]</span>'s Member Benefits
        </div>
        <div class="desc text-1">
            One of the most important things in life is knowing that the future of one’s family is secure. Foresters Financial™ helps make sure your family is taken care of financially no matter what happens.
        </div>
        <div class="ctas">
        </div>
    </div>
</div>
<div class="full-width-container no-padding container-theme-dark">
    <div class="card-container">
        <div class="card-items">
            <div class="card-item no-icon no-image">
                <div class="image-container">
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Discounted diabetes management products
                    </div>
                    <div class="desc text-1">
                        Get exclusive member pricing on quality diabetes management essentials from Accu-Chek.<sup>®</sup>
                        Get exclusive member pricing on quality diabetes management essentials from Accu-Chek.<sup>®</sup>
                        Get exclusive member pricing on quality diabetes management essentials from Accu-Chek.<sup>®</sup>
                        Get exclusive member pricing on quality diabetes management essentials from Accu-Chek.<sup>®</sup>
                        Get exclusive member pricing on quality diabetes management essentials from Accu-Chek.<sup>®</sup>
                        Get exclusive member pricing on quality diabetes management essentials from Accu-Chek.<sup>®</sup>                        Get exclusive member pricing on quality diabetes management essentials from Accu-Chek.<sup>®</sup>
                        Get exclusive member pricing on quality diabetes management essentials from Accu-Chek.<sup>®</sup>
                        Get exclusive member pricing on quality diabetes management essentials from Accu-Chek.<sup>®</sup>
                        Get exclusive member pricing on quality diabetes management essentials from Accu-Chek.<sup>®</sup>
                        Get exclusive member pricing on quality diabetes management essentials from Accu-Chek.<sup>®</sup>
                        Get exclusive member pricing on quality diabetes management essentials from Accu-Chek.<sup>®</sup>                        Get exclusive member pricing on quality diabetes management essentials from Accu-Chek.<sup>®</sup>
                        Get exclusive member pricing on quality diabetes management essentials from Accu-Chek.<sup>®</sup>
                        Get exclusive member pricing on quality diabetes management essentials from Accu-Chek.<sup>®</sup>
                        Get exclusive member pricing on quality diabetes management essentials from Accu-Chek.<sup>®</sup>
                        Get exclusive member pricing on quality diabetes management essentials from Accu-Chek.<sup>®</sup>
                        Get exclusive member pricing on quality diabetes management essentials from Accu-Chek.<sup>®</sup>
                    </div>
                </div>
                <div class="link-container">
                    <a href="/en/benefits/diabetes" class="link">Learn more</a>
                </div>
            </div>
            <div class="card-item no-image">
                <div class="logo">
                    <img src="/content/membership/assets/icons-medical-added-benefits-promo.svg" alt="Newborn benefit icon">
                </div>
                <div class="image-container">
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Achieve your goals with Lifelong Learning
                    </div>
                    <div class="desc text-1">
                        Access a library of more than 200 online course that you can take anytime, anywhere.
                        Access a library of more than 200 online course that you can take anytime, anywhere.
                        Access a library of more than 200 online course that you can take anytime, anywhere.
                        Access a library of more than 200 online course that you can take anytime, anywhere.                        Access a library of more than 200 online course that you can take anytime, anywhere.
                        Access a library of more than 200 online course that you can take anytime, anywhere.
                        Access a library of more than 200 online course that you can take anytime, anywhere.
                        Access a library of more than 200 online course that you can take anytime, anywhere.                        Access a library of more than 200 online course that you can take anytime, anywhere.
                        Access a library of more than 200 online course that you can take anytime, anywhere.
                        Access a library of more than 200 online course that you can take anytime, anywhere.
                        Access a library of more than 200 online course that you can take anytime, anywhere.
                    </div>
                </div>
                <div class="link-container">
                    <a href="/en/benefits/lifelong-learning" class="link">Learn more</a>
                </div>
            </div>
            <div class="card-item">
                <div class="logo">
                    <img src="/content/membership/assets/icons-medical-added-benefits-promo.svg" alt="">
                </div>
                <div class="image-container" style="background-image: url('/content/membership/assets/card-1.jpg')">
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Scholarships for community builders
                    </div>
                    <div class="desc text-1">
                        Apply for one of 250 tuition scholarships to help ease the cost of higher education.
                        Apply for one of 250 tuition scholarships to help ease the cost of higher education.
                        Apply for one of 250 tuition scholarships to help ease the cost of higher education.
                        Apply for one of 250 tuition scholarships to help ease the cost of higher education.                        Apply for one of 250 tuition scholarships to help ease the cost of higher education.
                        Apply for one of 250 tuition scholarships to help ease the cost of higher education.
                        Apply for one of 250 tuition scholarships to help ease the cost of higher education.
                        Apply for one of 250 tuition scholarships to help ease the cost of higher education.                        Apply for one of 250 tuition scholarships to help ease the cost of higher education.
                        Apply for one of 250 tuition scholarships to help ease the cost of higher education.
                        Apply for one of 250 tuition scholarships to help ease the cost of higher education.
                        Apply for one of 250 tuition scholarships to help ease the cost of higher education.
                    </div>
                </div>
                <div class="link-container">
                    <a href="/en/benefits/competitive-scholarships" class="link">Learn more</a>
                </div>
            </div>
            <div class="card-item card-theme-teal-light no-icon no-image">
                <div class="logo">
                </div>
                <div class='image-container'>
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Protect and prepare with LawAssure
                    </div>
                    <div class="desc text-1">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    </div>
                </div>
                <div class="link-container">
                    <a href="#" class="link">Get started</a>
                </div>
            </div>
            <div class="card-item card-theme-teal-light">
                <div class="logo">
                    <img src="/content/membership/assets/icons-everyday-money-promo.svg" />
                </div>
                <div class="image-container">
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Protect and prepare with LawAssure
                    </div>
                    <div class="desc text-1">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    </div>
                </div>
                <div class="link-container">
                    <a href="#" class="link">Get started</a>
                </div>
            </div>
            <div class="card-item">
                <div class="logo">
                    <img src="/content/membership/assets/icons-medical-added-benefits-promo.svg" />
                </div>
                <div class='image-container'>
                    <img src="/content/membership/assets/card-1.jpg" />
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Retirement Planing
                    </div>
                    <div class="desc text-1">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    </div>
                </div>
                <div class="link-container">
                    <a href="#" class="link">Learn more</a>
                </div>
            </div>
            <div class="card-item">
                <div class="logo">
                    <img src="/content/membership/assets/icons-everyday-money-promo.svg" />
                </div>
                <div class='image-container'>
                    <img src="/content/membership/assets/card-2.png" />
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Retirement Planing
                    </div>
                    <div class="desc text-1">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    </div>
                </div>
                <div class="link-container">
                    <a href="#" class="link">Learn more</a>
                </div>
            </div>
            <div class="card-item">
                <div class="logo">
                    <img src="/content/membership/assets/icons-everyday-money-promo.svg" />
                </div>
                <div class='image-container'>
                    <img src="/content/membership/assets/card-1.jpg" />
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Retirement Planing
                    </div>
                    <div class="desc text-1">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    </div>
                </div>
                <div class="link-container">
                    <a href="#" class="link">Learn more</a>
                </div>
            </div>
            <div class="card-item">
                <div class="logo">
                    <img src="/content/membership/assets/icons-medical-added-benefits-promo.svg" />
                </div>
                <div class='image-container'>
                    <img src="/content/membership/assets/card-1.jpg" />
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Retirement Planing
                    </div>
                    <div class="desc text-1">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    </div>
                </div>
                <div class="link-container">
                    <a href="#" class="link">Learn more</a>
                </div>
            </div>
            <div class="card-item">
                <div class="logo">
                    <img src="/content/membership/assets/icons-everyday-money-promo.svg" />
                </div>
                <div class='image-container'>
                    <img src="/content/membership/assets/card-1.jpg" />
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Retirement Planing
                    </div>
                    <div class="desc text-1">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    </div>
                </div>
                <div class="link-container">
                    <a href="#" class="link">Learn more</a>
                </div>
            </div>
            <div class="card-item">
                <div class="logo">
                    <img src="/content/membership/assets/icons-everyday-money-promo.svg" />
                </div>
                <div class='image-container'>
                    <img src="/content/membership/assets/card-1.jpg" />
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Retirement Planing
                    </div>
                    <div class="desc text-1">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    </div>
                </div>
                <div class="link-container">
                    <a href="#" class="link">Learn more</a>
                </div>
            </div>
            <div class="card-item">
                <div class="logo">
                    <img src="/content/membership/assets/icons-medical-added-benefits-promo.svg" />
                </div>
                <div class='image-container'>
                    <img src="/content/membership/assets/card-1.jpg" />
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Retirement Planing
                    </div>
                    <div class="desc text-1">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    </div>
                </div>
                <div class="link-container">
                    <a href="#" class="link">Learn more</a>
                </div>
            </div>
            <div class="card-item">
                <div class="logo">
                    <img src="/content/membership/assets/icons-everyday-money-promo.svg" />
                </div>
                <div class='image-container'>
                    <img src="/content/membership/assets/card-1.jpg" />
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Retirement Planing
                    </div>
                    <div class="desc text-1">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    </div>
                </div>
                <div class="link-container">
                    <a href="#" class="link">Learn more</a>
                </div>
            </div>
            <div class="card-item">
                <div class="logo">
                    <img src="/content/membership/assets/icons-medical-added-benefits-promo.svg" />
                </div>
                <div class='image-container'>
                    <img src="/content/membership/assets/card-1.jpg" />
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Retirement Planing
                    </div>
                    <div class="desc text-1">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    </div>
                </div>
                <div class="link-container">
                    <a href="#" class="link">Learn more</a>
                </div>
            </div>

        </div>
    </div>
</div>