<div class="hero" style="   background-image: url('/content/membership/assets/walking-ladies.jpg')">
    <div class="content">
        <div class="logo">
            <img src="/content/membership/assets/icons-shopping-cart-promo.svg" />
        </div>
        <div class="title heading-1">
            Save with the Diabetes Member Benefit
        </div>
        <div class="desc text-1">
            The Diabetes Member Benefit offers discounted prices on quality diabetes management products.
        </div>
        <div class="ctas">
            <div class="cta get-started">
                <a href="#" class="button-primary"><div class="wrapper"><p>Shop Accu-Check@ for Foresters in Toronto Canada</p></div></a>
            </div>
            <div class="cta">
                <button href="#" class="button-primary"><div class="wrapper"><p>Shop Accu-Check@ for Foresters in Toronto Canada</p></div></button>
            </div>
            <div class="cta">
                <a href="#" class="button-secondary"><div class="wrapper"><p>FAQs</p></div></a>
            </div>
        </div>
    </div>
</div>
<div class="full-width-container">
    <div class="hero hero-theme-light">
        <div class="title heading-1">
            Diabetes Member Benefit
        </div>
        <div class="desc text-1">
            Exclusively for Foresters members and their immediate families, this benefit helps simplify personal health care with easier access to the tools needed to test, 
            monitor and manage diabetes. Members can choose one or both of the following options:
        </div>
    </div>
</div>
<div class="full-width-container container-theme-dark">
    <div class="two-third-container">
        <div class="image-container">
            <img src="/content/membership/assets/spsgme-050-us.png" />
        </div>
    </div>
    <div class="one-third-container">
        <div class="title heading-1">Flexible test-strip subscription</div>
        <p class="" body-1">
            Skip the trip to the store and avoid running out of test strips. Your Accu-Chek test strips are delivered at the best price with free shipping!
        </p>
        <p class="body-1">
            Also receive a free Bluetooth blood glucose meter with your subscription. You can even customize orders to fit individual testing needs.
        </p>
        <div class="links">
            <a class="link text-700" href="#"><span>Order now</span></a>
        </div>
    </div>
</div>
<div class="full-width-container container-theme-light">
    <div class="one-third-container">
        <div class="title heading-1">Discounted accessory bundle</div>
        <div class="body-1">
            Get the accessories you need at significantly lower prices. 33% savings on four key items required for testing blood sugar:
            <ul>
                <li>1 Accu-Chek FastClix Lancing Device</li>
                <li>102 Accu-Chek FastClix lancets</li>
                <li>2 Accu-Chek Guide control solution</li>
                <li>5 Accu-Chek Self-Test Diaries</li>
            </ul>
        </div>
        <div class="links">
            <a class="link text-700" href="#"><span>Order now</span></a>
        </div>
    </div>
    <div class="two-third-container">
        <div class="image-container">
            <img src="/content/membership/assets/accucheck-img-2.png" />
        </div>
    </div>
</div>
<div class="full-width-container no-padding border-bottom">
    <div class="footnotes compliance">
        <div class="compliance-title">
            418346 CAN/US (06/20)
        </div>
        <div class="compliance-body ">
            LawAssure is provided by Epoq, Inc. Epoq is an independent service provider and is not affiliated with Foresters. In Canada, not available in Quebec, the Yukon, the Northwest Territories and Nunavut. LawAssure is not a legal service or legal advice and is not a substitute for legal advice or services of a licensed attorney. Foresters Financial, their employees and life insurance representatives, do not provide, on Foresters behalf, legal, estate or tax advice.
        </div>
        <div class="compliance-link">
            <button class="link text-700 active" type="button"><span>Read more</span></button>
            <button class="link text-700" type="button"><span>Read less</span></button>
        </div>
    </div>
</div>
