@import "../../styles/_mixins.scss";


.forget-password {
    display: block;
    background-color: white;

    .forget-password-confirmation-wrapper {
        padding: 48px 20px;

        .forget-username-password-confirmation-form {

            .success-wrapper {
                .success-title-wrapper {
                    padding: 20px 16px;
                }

                .success-message {
                    border: none;
                    margin-bottom: 29px;
                }
            }

            .info {
                text-align: center;
                margin-top: 48px;
                margin-bottom: 48px;
            }

            .action {
                margin-bottom: 24px;

                &.signin {
                    margin-top: 40px;
                }

                .button-primary, .button-secondary, .button-default, .cta-text {
                    width: 100%;
                    display: block;
                }

                a.cta-text {
                    &::before {
                        content: url("/content/membership/assets/back.svg");
                        width: 16px;
                        height: 16px;
                        position: relative;
                        top: 3px;
                        right: 5px;
                        display: inline-block;
                    }
                }
            }
        }
    }
}

@include respond-above(xs) {
    .forget-password {

        .forget-password-confirmation-wrapper {
            width: 596px;
            margin: 0 auto;

            .forget-username-password-confirmation-form {
                .item-row {
                    padding-top: 0;
                    padding-bottom: 0;
                }

                .success-wrapper {
                    
                    .success-message {
                        margin-bottom: 36px;
                    }
                }

                .info {
                    text-align: center;
                }
            }
        }
    }
}
