<div class="forget-password">

    <div class="forget-password-confirmation-wrapper">
        <form class="forget-username-password-confirmation-form" action="api/forget-password-form-confirmation" method="post">
            <div class="item-row success-wrapper">
                <!--adding no-error style will hide this error section-->
                <div class="success-title-wrapper">
                    <img class="success-icon" src="/content/membership/assets/medium-small.svg" /><span class="success-title label-1">Login Recovery Email Sent</span>
                </div>
                <div class="success-message">If the information you provided matches a MyForesters account, an email should be sent to <span class="text-500">username@company.com</span></div>
            </div>

            <div class="info">
                <div class="heading-1">Didn’t get the email?</div>
            </div>

            <div class="item-row action submit">
                <!--show the busy cursor with darker background color by applying class active when ajax is in progerss-->
                <button type="submit" class="button-primary">Send Email Again</button>
            </div>

            <div class="item-row action renter">
                <a href="#" class="button-secondary">Re-enter Information</a>
            </div>
            <div class="item-row action signin">
                <a href="#" class="cta-text button-backtosignin">Back to Sign In</a>
            </div>

        </form>
    </div>
</div>