<div class="hero hero-theme-profile">
    <div class="content">
        <div class="title heading-1" data-username="Nas">
            Hi, {{username}}!
        </div>
        <div class="desc text-1">
            My Profile is where you can make changes to your account profile settings. Update any of the editable sections below by clicking “change” and filling in the appropriate form fields when prompted. Address change and Contact Information changes are not available here. Please contact Service Centre for these changes.
        </div>
        <div class="ctas">
        </div>
    </div>
</div>
<div class="full-width-container container-dark-light border-bottom">
    <!--tab component-->
    <div class="tabs-container tab-theme-light centre-content">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active tab-title" id="employee_login_info_link" data-toggle="tab" href="#employee_login_info_content" role="tab" aria-controls="employee_login_info" aria-selected="true">Login information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link tab-title" id="employee_contact_link" data-toggle="tab" href="#employee_contact_content" role="tab" aria-controls="employee_contact" aria-selected="false">Contact preferences</a>
            </li>
            <li class="nav-item">
                <a class="nav-link tab-title" id="foresters_go_link" data-toggle="tab" href="#foresters_go_content" role="tab" aria-controls="foresters_go" aria-selected="false">Foresters Go</a>
            </li>
            <li class="nav-item">
                <a class="nav-link tab-title" id="membership_access_link" data-toggle="tab" href="#membership_access_content" role="tab" aria-controls="membership_access" aria-selected="false">Membership access</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active show" id="employee_login_info_content" role="tabpanel" aria-labelledby="employee_login_info">
                <div id="employee_login_info" class="profile-container">
                    <div class="success-message d-none">
                        <div class="title">
                            <img class="icon warning-icon" src="/content/membership/assets/icons-notifications-success-medium-small.svg" />
                            <p>Password change successful</p>
                        </div>
                        <div class="content">
                            <p>Your password has been changed. Lorem ipsum dolor sit amet consequitor enuldiem,</p>
                        </div>
                    </div>
                    <h2>Login Information</h2>
                    <div class="info-row">
                        <label class="label-1">Username: <span class="item_value">Nas</span></label>
                    </div>
                    <div class="info-row">
                        <label class="label-1">Password:<button id="employee_change_passwd" type="button" class="link"><span class="item_value">change password</span></button></label>
                    </div>
                    <div class="info-instr">
                        <div class="body-1">Please enter your new password below.</div>
                    </div>
                    <!--TODO action url needs to be updated-->
                    <form id="employee_change_passwd_form" class="profile-form" action="api/changePassword" method="post">
                        <div class="info">
                            <div class="heading-2">Change Password</div>
                        </div>
                        <div class="item-row error-wrapper no-error">
                            <!--adding no-error style will hide this error section-->
                            <div class="error-title-wrapper"><span class="warning-icon">!</span><span class="error-title text-500">Verification Error</span></div>
                            <div class="error-message">The information you entered seems to be incorrect. Please try again.</div>
                        </div>
                        <div class="item-row">
                            <div class="item-wrapper">
                                <label class="label-1">
                                    <span class="text-2">Password</span>
                                    <input type="password" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,14}" placeholder="Enter Password" class="input-field" id="password" required />
                                    <span class="toggle-pwd">
                                        <span id="show" class="show">Show</span>
                                        <span id="hide" class="hide">Hide</span>
                                    </span>
                                    <span class="error">Please enter your password</span>
                                </label>
                                <div class="caption-text">8 - 14 characters, including at least one letter and one number. </div>
                            </div>
                        </div>
                        <div class="item-row">
                            <div class="item-wrapper">
                                <label class="label-1">
                                    <span class="text-2">Confirm Password</span>
                                    <input type="password" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,14}" placeholder="Confirm Password" class="input-field" id="confirmPassword" required />
                                    <span class="toggle-pwd">
                                        <span id="show" class="show">Show</span>
                                        <span id="hide" class="hide">Hide</span>
                                    </span>
                                    <span class="error">Please enter your confirm password</span>
                                </label>
                                <div class="caption-text">Both passwords must match</div>
                            </div>
                        </div>
                        <div class="item-row action submit">
                            <!--show the busy cursor with darker background color by applying class active when ajax is in progerss-->
                            <button type="submit" class="button-primary">Submit</button>
                        </div>
                        <div class="item-row action cancel">
                            <button type="button" class="cta-text link"><span>Cancel</span></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="employee_contact_content" role="tabpanel" aria-labelledby="employee_contact">
                <div id="employee_contact" class="profile-container">
                    <div class="success-message d-none">
                        <div class="title">
                            <img class="icon warning-icon" src="/content/membership/assets/icons-notifications-success-medium-small.svg" />
                            <p>Contact preferences change successful</p>
                        </div>
                        <div class="content">
                            <p>Your contact preferences have been changed. Lorem ipsum dolor sit amet consequitor enuldiem,</p>
                        </div>
                    </div>
                    <h2>Contact information and preferences</h2>
                    <div class="info-row">
                        <label class="label-1">Email address: <span class="item_value">Nas@example.com</span></label>
                    </div>
                    <div class="info-row">
                        <label class="label-1">
                            Preferred communication language: <span class="item_value">English</span>
                        </label>
                    </div>
                    <div class="info-row">
                        <button id="employee_change_contact" type="button" class="link active"><span>Make changes</span></button>
                    </div>
                    <div class="info-instr">
                        <div class="body-1">Please enter your new contact information and preferences below.</div>
                    </div>
                    <!--TODO action url needs to be updated-->
                    <form id="employee_change_contact_form" class="profile-form" action="api/changeContactInfo" method="post">
                        <div class="info">
                            <div class="heading-2">Update contact information and preferences</div>
                        </div>
                        <div class="item-row error-wrapper no-error">
                            <!--adding no-error style will hide this error section-->
                            <div class="error-title-wrapper"><span class="warning-icon">!</span><span class="error-title text-500">Verification Error</span></div>
                            <div class="error-message">The information you entered seems to be incorrect. Please try again.</div>
                        </div>
                        <div class="item-row">
                            <div class="item-wrapper">
                                <label class="label-1">
                                    <span class="text-2">Email address</span>
                                    <input type="email" class="input-field" pattern="[\w-\.]+@([\w-]+\.)+[\w-]{2,4}" required />
                                    <span class="error">Please enter a valid email address</span>
                                </label>
                                <div class="caption-text">This email will be used for all MyForesters.com communications.</div>
                            </div>
                        </div>
                        <div class="item-row">
                            <fieldset>
                                <legend class="label-1">Preferred communication language</legend>
                                <div class="item-wrapper">
                                    <label class="label-1 radio-container">
                                        <input type="radio" name="language" checked>
                                        <span class="checkmark"></span>
                                        <span class="text-2">English</span>
                                    </label>
                                </div>
                                <div class="item-wrapper">
                                    <label class="label-1 radio-container">
                                        <input type="radio" name="language">
                                        <span class="checkmark"></span>
                                        <span class="text-2">French</span>
                                    </label>
                                </div>
                            </fieldset>
                        </div>
                        <div class="item-row action submit">
                            <!--show the busy cursor with darker background color by applying class active when ajax is in progerss-->
                            <button type="submit" class="button-primary">Submit</button>
                        </div>
                        <div class="item-row action cancel">
                            <button type="button" class="cta-text link"><span>Cancel</span></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="foresters_go_content" role="tabpanel" aria-labelledby="foresters_go">
                <div id="foresters_go" class="profile-container">
                    <h2>Foresters Go employee access</h2>
                    <div class="info-instr active">
                        <div class="body-1">You do not need to purchase a life insurance policy to use Foresters Go and the cost of Community Membership is waived for employees until further notice. If you still prefer not to participate, you may do so by clicking the button below.</div>
                    </div>
                    <!--TODO action url needs to be updated-->
                    <form class="profile-form foresters-go-form active" action="api/deleteForestersGo" method="post">
                        <div class="item-row error-wrapper no-error">
                            <!--adding no-error style will hide this error section-->
                            <div class="error-title-wrapper"><span class="warning-icon">!</span><span class="error-title text-500">Verification Error</span></div>
                            <div class="error-message">The information you entered seems to be incorrect. Please try again.</div>
                        </div>
                        <div class="item-row action submit">
                            <button type="submit" class="button-secondary delete-account">Delete Foresters Go</button>
                            <button type="submit" class="button-secondary reactivate d-none">Reactivate</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="membership_access_content" role="tabpanel" aria-labelledby="membership_access">
                <div id="membership_access" class="profile-container">
                    <h2>Your access to Community Membership</h2>
                    <div class="info-instr active">
                        <div class="body-1">You do not need to purchase a life insurance policy to be a Community Member and the cost of Community Membership is waived for employees until further notice. If you still prefer not to participate, you may do so by clicking the button below.</div>
                    </div>
                    <!--TODO action url needs to be updated-->
                    <form class="profile-form membership-access-form active" action="api/deleteMembershipAccess" method="post">

                        <div class="item-row action submit">
                            <!--show the busy cursor with darker background color by applying class active when ajax is in progerss-->
                            <button type="submit" class="button-secondary">Cancel membership</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-general modal-warning modal-delete-account d-none">
    <div class="backdrop"></div>
    <div class="content-container">
        <div class="icon-close"><button class="btn-close"></button></div>
        <div class="title">
            <img class="icon warning-icon" src="/content/membership/assets/warning-1.svg" />
            <p>Are you sure you want to delete your access to Foresters Go?</p>
        </div>
        <div class="content">
            <p>This action cannot be undone.</p>
        </div>
        <div class="ctas">
            <div class="cta">
                <button type="button" id="delete_account" class="button-primary">Delete Foresters Go</button>
            </div>
            <div class="cta">
                <button type="button" class="button-secondary profile-cancel-modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-general modal-warning modal-reactivate-account d-none">
    <div class="backdrop"></div>
    <div class="content-container">
        <div class="icon-close"><button class="btn-close"></button></div>
        <div class="title">
            <img class="icon warning-icon" src="/content/membership/assets/warning-1.svg" />
            <p>Are you sure you want to reactivate your access to Foresters Go?</p>
        </div>
        <div class="content">
            <p>This action cannot be undone.</p>
        </div>
        <div class="ctas">
            <div class="cta">
                <button type="button" id="reactivate_account" class="button-primary">Reactivate</button>
            </div>
            <div class="cta">
                <button type="button" class="button-secondary profile-cancel-modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-general modal-warning modal-cancel-membership d-none">
    <div class="backdrop"></div>
    <div class="content-container">
        <div class="icon-close"><button class="btn-close"></button></div>
        <div class="title">
            <img class="icon warning-icon" src="/content/membership/assets/warning-1.svg" />
            <p>Are you sure you want to delete your access to Community Membership?</p>
        </div>
        <div class="content">
            <p>This action cannot be undone.</p>
        </div>
        <div class="ctas">
            <div class="cta">
                <button type="button" id="cancel_membership" class="button-primary">Cancel membership</button>
            </div>
            <div class="cta">
                <button type="button" class="button-secondary profile-cancel-modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
