<div class="hero hero-theme-light tier-2" style="background-image: url('/content/membership/assets/medicalmemberbenefit_light.jpg')">
    <div class="content">
        <div class="logo">
            <img src="/content/membership/assets/icons-medical-added-benefits-promo.svg" />
        </div>
        <div class="title heading-1">
            Medical Member Benefit
        </div>
        <div class="desc text-1">
            To apply, please contact Foresters Customer Service at 800 828 1540 or get started by downloading the claim form.
        </div>
        <div class="ctas">
            <div class="cta">
                <a class="button-primary" href="tel:18002220000">Call now</a>
            </div>
            <div class="cta">
                <a class="button-download" href="/content/membership/assets/sample.pdf" target="_blank" download>Download claim form</a>
            </div>
        </div>
    </div>
</div>
<div class="full-width-container container-theme-light">
    <div class="one-third-container">
        <div>
            <div class="title heading-1">Overview</div>
            <p class="" body-1">
                The following medical benefits are provided to help eligible members with unexpected health care expenses, so that they can focus on what matters the most – their recuperation.
            </p>
            <p class="body-1">
                Each document in LawAssure is combined with a questionnaire to make the tool user-friendly. The questionnaire will ask you a variety of questions about your specific circumstances and, based on the answers, will auto-fill to the associated document.
            </p>
        </div>
    </div>
    <div class="two-third-container">
        <div>
            <div class="title heading-1">Eligibility requirements and limitations</div>

            <div class="body-1">
                <p>The following apply to each Medical Member Benefit. The additional eligibility requirements and limitations that apply to a specific Medical Member Benefit are listed under the benefit description for that benefit.</p>
                <ul class="mb-0 pb-0">
                    <li>If eligibility for this benefit is based on the holding of a Foresters life insurance certificate, for the holder's spouse and child(ren) to be considered for this benefit, that life insurance protection on the holder is not less than $6,000 or the annual premium is not less than $150.</li>
                    <li>When eligibility is based on a Social Fraternal Membership, it must have been in force for a continuous period of two years immediately prior to the date of the diagnosis.</li>
                    <li>An application for the benefit must be accompanied by a Foresters claim form, completed by the attending physician, indicating a complete medical history of the diagnosis, date of onset, and date of total disability, if applicable.</li>
                    <li>An application for this benefit must be received by Foresters within six months of the date of diagnosis (or the date of total disability where the grant is based on total disability). Consideration may be given to a late application if the required information can be provided.</li>
                    <li>The diagnosis must be made by a duly licensed physician qualified to make the diagnosis.</li>
                    <li>Where the benefit is based on total disability, Foresters may, at its discretion, require medical evidence of continued total disability.</li>
                    <ul class="mb-0 pb-0 ul-circle">
                        <li>Total disability and totally disabled mean the inability to engage in gainful occupation for which the person is reasonably fitted by education, training or experience except:</li>
                        <ul class="mb-0 pb-0 ul-square">
                            <li>In the case of a homemaker, it will mean the inability to perform normal household duties.</li>
                            <li>For a person up to and including age 18, or age 65 or over, it will mean confinement to a hospital confirmed by a statement from the hospital, or under active treatment supervised by a licensed physician either as an outpatient (requiring daily or weekly treatment), or in the case of terminal illness, at home.</li>
                        </ul>
                        <li>For total disability claims with a diagnosis date before September 1, 2010, this benefit will be paid as either monthly installments or reimbursement for out-of-pocket expenses.</li>
                        <li>For new total disability claims with a diagnosis date on or after September 1, 2010, this benefit will be paid as a lump sum.</li>
                        <li>This benefit will be paid in the currency of the country where the certificate was purchased.</li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="full-width-container container-theme-dark">
    <!--tab component-->
    <div class="tabs-container single-tab tab-theme-dark">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active tab-title" id="medi_benefit_link" data-toggle="tab" href="#medi_benefit_content" role="tab" aria-controls="medi_benefit" aria-selected="true">Medical benefits</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="medi_benefit_content" role="tabpanel" aria-labelledby="medi_benefit">
                <!--accordion-->
                <div class="accordion" id="medi_benefit">
                    <div class="">
                        <div class="card">
                            <!--div id headingOne is used to linke heading and content using bootstrap js. This id can be arbitrary -->
                            <div id="headingOne">
                                <button class="accordion__link mb-0 collapsed" type="button" data-toggle="collapse" data-target="#columnOne" aria-expanded="false" aria-controls="collapseOne">
                                    Multiple Sclerosis Member Benefit
                                </button>
                            </div>
                            <!--div id columnOne are used to link heading with contents for screen readers (accessibility). This id can be arbitrary-->
                            <div id="columnOne" class="collapse" aria-labelledby="headingOne" data-parent="#medi_benefit_content">
                                <div class="card-body">
                                    Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam.
                                    Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div id="headingTwo">
                                <button class="accordion__link mb-0 collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Cancer Member Benefit
                                </button>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#medi_benefit_content">
                                <div class="card-body">
                                    Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat.
                                    Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div id="headingThree">
                                <button class="accordion__link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Tuberculosis Member Benefit
                                </button>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#medi_benefit_content">
                                <div class="card-body">
                                    Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div id="headingFour">
                                <button class="accordion__link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Tuberculosis Member Benefit
                                </button>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#medi_benefit_content">
                                <div class="card-body">
                                    Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>