<div class="hero hero-theme-light tier-2" style="background-image: url('/content/membership/assets/everdaymoney.png')">
    <div class="content">
        <div class="logo">
            <img src="/content/membership/assets/icons-volunteer-leadership-promo.svg" />
        </div>
        <div class="title heading-1">
            Member Leadership
        </div>
        <div class="desc text-1">
            One of the most valuable gifts you can ever give is your time and being a Foresters member leader is a rewarding way to do more for you, your family and your community.
        </div>
        <div class="ctas">
            <div class="cta">
                <a href="#" class="button-primary">Become a branch councillor</a>
            </div>
        </div>
    </div>
</div>
<div class="full-width-container no-padding container-theme-light">
    <div class="card-container">
        <div class="card-header">
            <div class="desc text-1">
                At Foresters Financial™, we offer many ways for our members to develop their leadership skills. This could be as simple as applying for a grant to run a volunteer activity or, if you’re interested in even more involvement, you might consider nominating yourself for Branch Councillor. Whether you have lots of time, or can only spare a couple of hours a week, there’s something you can do to make a positive impact:
            </div>
        </div>
        <div class="card-items">
            <div class="card-item">
                <div class='image-container'>
                    <img src="/content/membership/assets/volunteer-1.png"/>
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Participate in a volunteer event
                    </div>
                    <div class="desc text-1">
                        Find an upcoming member activity near you. Your Cause donec quam justo, viverra id tellus et.
                    </div>
                </div>
                <div class="link-container">
                    <a href="#" class="link">Find an event</a>
                </div>
            </div>
            <div class="card-item">
                <div class='image-container'>
                    <img src="/content/membership/assets/volunteer-2.png" />
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Plan your own volunteer event
                    </div>
                    <div class="desc text-1">
                        Your Cause sollicitudin eu lectus accumsan accumsan. Donec quam justo, pellentesque viverra velit.
                    </div>
                </div>
                <div class="link-container">
                    <a href="#" class="link">Apply now</a>
                </div>
            </div>            
            <div class="card-item">
                <div class='image-container'>
                    <img src="/content/membership/assets/leadership-image-2.png" />
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Become a Branch Councillor
                    </div>
                    <div class="desc text-1">
                        2 hours per month, plus the opportunity to attend training conferences. Morbi sollicitudin eu lectus accumsan.
                    </div>
                </div>
                <div class="link-container">
                    <a href="#" class="link">Get involved</a>
                </div>
            </div>       
        </div>
    </div>
</div>
<div class="full-width-container no-padding border-bottom">
    <div class="footnotes compliance">
        <div class="compliance-title">
            418346 CAN/US (06/20)
        </div>
        <div class="compliance-body ">
            LawAssure is provided by Epoq, Inc. Epoq is an independent service provider and is not affiliated with Foresters. In Canada, not available in Quebec, the Yukon, the Northwest Territories and Nunavut. LawAssure is not a legal service or legal advice and is not a substitute for legal advice or services of a licensed attorney. Foresters Financial, their employees and life insurance representatives, do not provide, on Foresters behalf, legal, estate or tax advice.
        </div>
        <div class="compliance-link">
            <button class="link text-700 active" type="button"><span>Read more</span></button>
            <button class="link text-700" type="button"><span>Read less</span></button>
        </div>
    </div>
</div>
