<div class="hero hero-theme-teal" style="background-image: url('/content/membership/assets/llp@3x.png')">
    <div class="content">
        <div class="logo">
            <img src="/content/membership/assets/icons-community-grants-promo.svg" />
        </div>
        <div class="title heading-1">
            Welcome to Community Membership, Nas!
        </div>
        <div class="desc text-1">
            You’re already signed up for Foresters Go. Read more about it in the FAQ.
        </div>
        <div class="ctas">
            <div class="cta">
                <a class="button-primary" href="#">Foresters Go FAQ Long Text Anchor to make multiline texts</a>
            </div>
        </div>
    </div>
</div>
<div class="full-width-container">
    <div class="one-third-container">
        <div class="title heading-1">Living the Foresters purpose</div>
        <div class="image-container height-235">
            <img src="/content/membership/assets/playground-build-minneapolis-us.png" />
        </div>
        <p>
            As a Foresters employee, you can participate in Community Membership and help embed Foresters purpose into the heart of our organizational culture. As a Community Member, you’ll be a driving force for delivering on our core purpose and strengthening employee engagement and well-being.
        </p>
    </div>
    <div class="two-third-container">
        <div class="title heading-1">Living well with Foresters Go </div>
        <div class="image-container height-414">
            <img src="/content/membership/assets/foresters-go.png"/>
        </div>
        <p>
            Engage in your well-being journey with Foresters Go and earn rewards for living well
        </p>
        <p>
            You do not need to purchase a life insurance policy to participate and the cost of Community Membership is waived for employees until further notice. If you prefer not to participate, you can simply opt-out through your profile on MyForesters. We encourage all employees to take this opportunity to engage with Foresters purpose in a meaningful way.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean malesuada vestibulum elit, aliquet porta quam pellentesque eget. Etiam non posuere diam. Donec iaculis ante in lacinia lacinia. Sed nunc sem, ultricies vel felis a, ullamcorper rhoncus orci.
        </p>
        <div class="download-link"><a href="/content/membership/assets/sample.pdf" target="_blank" class="link download" dowanlod>Foresters Go FAQ</a></div>
    </div>
</div>
<div class="full-width-container no-padding ">
    <div class="footnotes compliance">
        <div class="compliance-title">
            418346 CAN/US (06/20)
        </div>
        <div class="compliance-body ">
            LawAssure is provided by Epoq, Inc. Epoq is an independent service provider and is not affiliated with Foresters. In Canada, not available in Quebec, the Yukon, the Northwest Territories and Nunavut. LawAssure is not a legal service or legal advice and is not a substitute for legal advice or services of a licensed attorney. Foresters Financial, their employees and life insurance representatives, do not provide, on Foresters behalf, legal, estate or tax advice.
        </div>
        <div class="compliance-link">
            <button class="link text-700 active" type="button"><span>Read more</span></button>
            <button class="link text-700" type="button"><span>Read less</span></button>
        </div>
    </div>
</div>