<div class="hero hero-theme-light tier-2" style="background-image: url('/content/membership/assets/everdaymoney.png')">
    <div class="content">
        <div class="logo">
            <img src="/content/membership/assets/icons-volunteer-leadership-promo.svg" />
        </div>
        <div class="title heading-1">
            Become an elected leader
        </div>
        <div class="desc text-1">
            Our global community of members is more than two-million strong and led by Member Leaders in a representative form of government.
        </div>
        <div class="ctas">
            <div class="cta">
                <button class="button-primary">Apply now</button>
            </div>
        </div>
    </div>
</div>
<div class="full-width-container container-theme-light">
    <div class="one-third-container">
        <div class="title heading-1">Our Constitution defines our purpose</div>
        <p class="body-1">
            Foresters Constitution provides the framework of the laws and principles by which we operate and sets out the authority, responsibilities, and obligations of Foresters members, officers, and representative bodies. The Constitution is a legal document reviewed by representative members at the International Assembly.
            All members are entitled to a copy of our Constitution. You can read and print a printer-friendly version of the entire Constitution by clicking the link below.
        </p>
        <div class="links">
            <a class="link text-700" href="#"><span>Foresters Constitution: Full Version</span></a>
        </div>
        <p class="body-1">
            You can also view or print several years of annual reports by selecting one from the menu below:
        </p>
        <div class="select-container">
            <select class="input-field">
                <option value="2020">2020</option>
                <option value="2019">2019</option>
                <option value="2018">2018</option>
            </select>
        </div>
    </div>
    <div class="two-third-container">
        <div class="title heading-1">
            How our members are organized
        </div>
        <div class="desc text-1">
            <p>At the core of Foresters membership is our member-governed Branch network which focuses our efforts where they are needed most – on our members and their communities.</p>
            <p>All Foresters members belong to a local Branch and have the opportunity to elect local leaders or to even stand for election themselves. There are three levels of governance:</p>
            <h3>Branch Council</h3>
            <p>You are a member of one of 50 Branches across the United States, Canada and the United Kingdom. As a Branch member, you can vote and hold office. Branches are led by a Branch Council comprising 10 elected member leaders called Branch Councillors. Branches help support and provide oversight for Foresters local community activities, volunteer projects and member activities.</p>
            <h3>Regional Council</h3>
            <p>Foresters is organized into five geographic regions ; three in the United States, and one each in Canada and the United Kingdom. Each Branch belongs to one of these five Regional Assemblies. Regional Assemblies bring together member leaders from across the Region every two years to hear reports and take part in governance business, as well as to elect a Regional Council of 10 Regional Councillors and one Regional Council President. Regional Councils meet quarterly and provide support to Branch Councils in their Region.</p>
            <h3>International Assembly</h3>
            <p>Foresters International Assembly, our highest governing body, meets every four years to elect the Foresters Board of Directors, review Foresters financial results, fraternal activities and governance highlights, and vote on changes to the Constitution.</p>
        </div>
    </div>
</div>
<div class="full-width-container container-theme-teal">
    <div class="two-third-container">
        <div class="title heading-1">Get involved in our democratic process</div>
        <p class="body-1">
            One of the benefits of Foresters membership is the opportunity to get involved in our democratic process, through participating in elections or submitting a nomination for a leadership role. Every year, you can cast a ballot to choose the representatives for Branch Council. Working with our 50 Branches these elected leaders provide a guiding hand, which helps to focus and support the impact that Foresters makes in member communities. By participating in your local Branch, you can:
            • Develop valuable leadership skills that can be used in your personal life or career
            • Connect with fellow members who share your passion for community volunteerism
            • Be inspired by world-class speakers at our annual 3-day Leadership Development Conference,
            where all elected members receive valuable leadership training
            • Take part in a rewarding volunteer experience with a low time commitment.
        </p>
    </div>
    <div class="one-third-container">
        <div class="title heading-1">Looking to do more? </div>
        <div class='image-container' style="background-image: url('/content/membership/assets/students-volunteering-630-x-300.png')">
        </div>
        <p class="body-1">
            Our elected Regional Councillors focus on the long-term strategic direction of Foresters member network. As a Regional Councillor, you will help shape programs that enrich our members’ experience and participate in professional development opportunities like skill-building workshops and expert training.
        </p>
    </div>
</div>
