<div class="hero hero-theme-dark hero-gradient tier-1" style="background-image: url('/content/membership/assets/lawassurebanner_dark.png')">
    <div class="content">
        <div class="logo">
            <img src="/content/membership/assets/icons-lawassure-promo.svg" />
        </div>
        <div class="title heading-1">
            Protect your legacy with LawAssure
        </div>
        <div class="desc text-1">
            This online document preparation service is free with your membership.
        </div>
        <div class="ctas">
            <div class="cta">
                <button class="button-primary law-assure-get-started">Get Started</button>
            </div>
            <div class="cta">
                <a class="button-secondary secondary-button-theme-dark" href="#">FAQs</a>
            </div>
        </div>
    </div>
</div>
<div class="full-width-container container-theme-light">
    <div class="one-third-container">
        <div class="title heading-1">Protect and plan</div>
        <p class="" body-1">
            LawAssure is an online document preparation service provided through EPOQ that gives Foresters members access to customizable wills, powers of attorney, and healthcare directives from the comfort of their own homes.
        </p>
        <p class="body-1">
            Each document in LawAssure is combined with a questionnaire to make the tool user-friendly. The questionnaire will ask you a variety of questions about your specific circumstances and, based on the answers, will auto-fill to the associated document.
        </p>
        <div class="links">
            <a class="link text-700" href="#"><span>Get started</span></a>
            <a class="link text-700" href="#"><span>Download FAQs</span></a>
        </div>
    </div>
    <div class="two-third-container">
        <div class="title heading-1">
            How it works
        </div>
        <div class='video-container'>
            <iframe id="newFrame1" marginwidth='0px' marginheight='0px' frameborder='0' src='//plugin.3playmedia.com/show?ad=1&ad_autoplay=0&ad_default_source_volume_control=0&ad_source_volume_control=1&embed=iframe&height=100%25&itx=1&itx_collapse_on_load=1&itx_collapsible=1&itx_downloadable=1&itx_highlight_by_caption_frames=1&itx_keywords=0&itx_light_scroll=0&itx_multi_text_track=0&itx_progress_bar=1&itx_progressive_tracking=1&mf=5392074&p3sdk_version=1.10.7&p=44384&player_type=youtube&plugin_skin=light&seo=1&video_id=eal3iOvDx0A&video_target=tpm-plugin-tmkf8153-eal3iOvDx0A&width=100%25'></iframe>
        </div>
        <div class="title heading-3">
            How it works video
        </div>
        <div class="desc text-1">
            You can access LawAssure as a complimentary benefit of being a Foresters member. The explainer video above is a good intro to the platform, but we’re also here to help if you run into any issues. Reach out to our Client Support team with any questions (they’re info is below).
        </div>
    </div>
</div>
<div class="full-width-container no-padding border-bottom">
    <div class="footnotes compliance">
        <div class="compliance-title">
            418346 CAN/US (06/20)
        </div>
        <div class="compliance-body ">
            LawAssure is provided by Epoq, Inc. Epoq is an independent service provider and is not affiliated with Foresters. In Canada, not available in Quebec, the Yukon, the Northwest Territories and Nunavut. LawAssure is not a legal service or legal advice and is not a substitute for legal advice or services of a licensed attorney. Foresters Financial, their employees and life insurance representatives, do not provide, on Foresters behalf, legal, estate or tax advice.
        </div>
        <div class="compliance-link">
            <button class="link text-700 active" type="button"><span>Read more</span></button>
            <button class="link text-700" type="button"><span>Read less</span></button>
        </div>
    </div>
</div>
<!--Modal Popup for Registration Success-->
<div class="modal-general tnc d-none">
    <div class="backdrop"></div>
    <div class="content-container">
        <div class="icon-close"><button class="btn-close"></button></div>
        <div class="title">Foresters Terms For Use of LawAssure Service</div>
        <div class="content">
            <div class="scrollable-content">
                <div>
                    <p>
                        Thank you for your interest in the LawAssure service. Please read these Terms before
                        using this service as it contains important information. You will be required to
                        agree to these Terms before using the service in addition to the terms at the LawAssure
                        website.
                    </p>
                    <p>
                        The LawAssure website, document preparation service and precedent documents (<strong>
                            LawAssure
                            Service
                        </strong>) are provided by Epoq, Inc. (<strong>Epoq</strong>). The Independent
                        Order of Foresters (<strong>Foresters</strong>) is not affiliated with Epoq, has
                        no involvement in providing the LawAssure Service, and does not make any representations
                        about, or necessarily endorse, the validity of the LawAssure Service. Foresters
                        has no liability to you with respect to the LawAssure Service.
                    </p>
                    <p class="heading-2">Privacy Notice</p>
                    <p>
                        Please refer to the <a href="/en/members/pages/privacy.aspx">Foresters Privacy Notice</a>
                        for information about how we handle your personal information. Foresters will not have access to personal information that
                        you provide to Epoq.
                    </p>
                    <p class="heading-2">Your Use of LawAssure</p>
                    <p>
                        LawAssure is not a legal service or legal advice and is not a substitute for legal
                        advice or services of a licensed attorney/lawyer.
                    </p>
                    <p>
                        Foresters, their employees and representatives, do not provide, on Foresters behalf,
                        legal, estate or tax advice. If you need legal, estate or tax advice for your specific
                        situation, or if your specific situation is complex, you should consult a licensed
                        attorney/lawyer in your jurisdiction.
                    </p>
                    <p>
                        The LawAssure Service may not be appropriate for all individuals and situations. Please acknowledge by clicking the boxes below that you have read and understood
                        that the LawAssure Service may not be appropriate, and we strongly recommend that you seek the advice or services of a licensed attorney/lawyer, if any of the scenarios
                        described below may apply to you.
                    </p>

                    <div class="check-wrapper">
                        <p class="heading-2">
                            I acknowledge and understand that the LawAssure Service may not be appropriate for all individuals and scenarios, including without limitation, the following,
                            and that I have been informed by Foresters that I should seek the advice of a licensed attorney/lawyer if any of the following apply:
                        </p>
                        <p class="heading-2">
                            (Please click each item below to confirm your understanding that LawAssure is not appropriate for these situations)
                        </p>
                        <label class="agree-label">
                            <input class="agree" type="checkbox" name="agree1"/> 
                            <span>Use or creation of trusts(i.e., pilot trusts, life interest trusts, discretionary trusts)</span>
                        </label>
                        <label class="agree-label">
                            <input class="agree" type="checkbox" name="agree2"/> 
                            <span>Complex estate or asset scenarios</span>
                        </label>
                        <label class="agree-label">
                            <input class="agree" type="checkbox" name="agree3"/> 
                            <span>Blended or complex family scenarios (i.e., divorce, re-marriage, special needs dependant(s))</span>
                        </label>
                        <label class="agree-label">
                            <input class="agree" type="checkbox" name="agree4"/> 
                            <span>Ownership of a business or farm or property owned jointly other than with a spouse</span>
                        </label>
                        <label class="agree-label">
                            <input class="agree" type="checkbox" name="agree5"/> 
                            <span>Assets located in a foreign jurisdiction</span>
                        </label>
                        <label class="agree-label">
                            <input class="agree" type="checkbox" name="agree6"/> 
                            <span>Individuals with a net worth of $500,000 or more (excluding primary residence)<</span>
                        </label>                       
                    </div>
                    <p>
                        It is your responsibility to ensure that any documents are properly signed in accordance with the requirements of your jurisdiction.
                    </p>
                    <p>
                        Use of LawAssure Service may be suspended or disabled at any time without notice.
                    </p>
                    <p>
                        YOU ACKNOWLEDGE AND AGREE THAT ALL USE OF THE LAWASSURE SERVICE IS AT YOUR OWN DISCRETION
                        AND AT YOUR OWN RISK.
                    </p>
                    <p>
                        FORESTERS MAKES NO CONDITIONS, WARRANTIES OR REPRESENTATIONS ABOUT THE SUITABILITY,
                        RELIABILITY, USABILITY, SECURITY, QUALITY, CAPACITY, PERFORMANCE, AVAILABILITY,
                        TIMELINESS OR ACCURACY OF THE LAWASSURE SERVICE. FORESTERS EXPRESSLY DISCLAIMS ALL
                        CONDITIONS, WARRANTIES AND REPRESENTATIONS, EXPRESS, IMPLIED OR STATUTORY, INCLUDING
                        IMPLIED CONDITIONS OR WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,
                        DURABILITY, TITLE AND NON-INFRINGEMENT, WHETHER ARISING BY USAGE OF TRADE, BY COURSE
                        OF DEALING, BY COURSE OF PERFORMANCE, AT LAW, IN EQUITY, BY STATUTE OR OTHERWISE
                        HOWSOEVER.
                    </p>
                    <p>
                        NOTWITHSTANDING ANY OTHER PROVISION OF THESE TERMS, IN NO EVENT WILL FORESTERS BE
                        LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE
                        DAMAGES, OR ANY OTHER DAMAGES OR LOSSES WHATSOEVER, INCLUDING DAMAGES FOR LOSS OF
                        PROFITS, GOODWILL, BUSINESS, OPPORTUNITY, EARNINGS, ANTICIPATED SAVINGS, USE OF
                        DATA, ARISING DIRECTLY OR INDIRECTLY FROM OR RELATED TO THE CONDITIONS OR THE USE,
                        OR NON-USE OF THE LAWASSURE SERVICE, REGARDLESS OF THE CAUSE OF ACTION AND EVEN
                        IF FORESTERS HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES OR LOSSES.
                    </p>
                    <p>
                        SOME JURISDICTIONS PROHIBIT THE DISCLAIMER OF CERTAIN WARRANTIES OR CONDITIONS OR
                        THE LIMITATION OF CERTAIN TYPES OF LIABILITY. IN SUCH CIRCUMSTANCES, TO THE EXTENT
                        THAT SUCH PROHIBITIONS PROHIBIT ANY EXCLUSIONS AND LIMITATIONS IN THESE TERMS, SUCH
                        EXCLUSIONS AND LIMITATIONS WILL NOT APPLY TO YOU STRICTLY TO THE EXTENT NECESSARY
                        TO MAKE THESE TERMS CONSISTENT WITH SUCH PROHIBITIONS.
                    </p>
                    <p class="heading-2">Your Agreement to These Terms</p>
                    <p>Foresters reserves the right to change these Terms at any time without notice.</p>
                    <p>
                        By clicking the ‘I agree’ button below, you confirm that you have read, understand
                        and agree to the above Terms. I understand that I cannot use the LawAssure Service
                        if I do not agree with these Terms.
                    </p>

                    <p class="note">
                        <strong> Note:</strong> Please read and click all checkboxes above in the Foresters Terms of Use to proceed.
                    </p>
                </div>                
            </div>
        </div>
        <button type="button" class="button-primary agree-tnc" disabled>I Agree</button>
    </div>
</div>
