<div class="hero hero-theme-light tier-2" style="background-image: url('/content/membership/assets/everdaymoney.png')">
    <div class="content">
        <div class="logo">
            <img src="/content/membership/assets/icons-volunteer-leadership-promo.svg" />
        </div>
        <div class="title heading-1">
            Nominations and voting
        </div>
        <div class="desc text-1">
            Nominations are open for Branch Councillor positions until June 17
        </div>
        <div class="ctas">
            <div class="cta">
                <button class="button-primary">Nominations FAQ</button>
            </div>
        </div>
    </div>
</div>
<div class="full-width-container">
    <div class="one-third-container">
        <div class="title heading-1">
            Meet your new Branch Councillors
        </div>
        <div class="desc text-1">
            <p>Branch Councillors¹ are elected members who work on your behalf to support the positive impact Foresters makes in your very own community.</p>
            <a href="#">Meet your member leaders</a>
            <p>If you’d like to learn more about becoming a member leader or where our Branches fit within Foresters governance structure.</p>
            <a href="#">Become a member leader</a>
            <p>If you have any other questions, such as whether you are eligible to vote, please feel free to connect with us as the email below:</p>
            <a href="mailto:elections@foresters.com">elections@foresters.com</a>
        </div>

    </div>
    <div class="two-third-container">
        <div class="title heading-1">
            Foresters Branch Elections 2020: Important dates
        </div>
        <div class="desc text-1">
            <h3>Until June 17</h3>
            <p class="pl-16">Nominations open for Branch Councillor positions</p>
            <h3>August</h3>
            <p class="pl-16">Watch for your election package in the mail.</p>
            <h3>August - September 11</h3>
            <p class="pl-16">Vote online or mail in your ballot.</p>
            <h3>October</h3>
            <p class="pl-16">Election results announced.</p>
            <p>Please note that in Branches where the number of candidates matches or is fewer than the number of open positions, no election is necessary.</p>
        </div>
    </div>
</div>
<div class="full-width-container container-theme-teal">
    <!--tab component-->
    <div class="tabs-container single-tab">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active tab-title" id="nomination_link" 
                   data-toggle="tab" href="#nomination_link_content" role="tab" 
                   aria-controls="nomination_formlist" aria-selected="true">Helpful resources</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="nomination_link_content" role="tabpanel" aria-labelledby="nomination_formlist">
                <!--form list-->
                <div class="form-list accordion" id="nomination_formlist">
                    <div class="card">
                        <div id="heading1">
                            <div class="accordion__link mb-0">
                                Governance Structure Overview
                            </div>
                            <a href="#" class="download"></a>
                        </div>
                        <div id="collapse1" class="collapse show">
                            <div class="card-body">
                                Foresters Member Network has a three-tiered governance structure of elected member leaders
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div id="heading2">
                            <div class="accordion__link mb-0">
                                Nominations Application Biographical Questions Worksheet
                            </div>
                            <a href="#" class="download"></a>
                        </div>
                        <div id="collapse2" class="collapse show">
                            <div class="card-body">
                                This PDF contains a copy of the biographical questions asked within the nomination application
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div id="heading3">
                            <div class="accordion__link">
                                Tips for Completing Your Nomination in Branch Elections
                            </div>
                            <a href="#" class="download"></a>
                        </div>
                        <div id="collapse3" class="collapse show">
                            <div class="card-body">
                                Putting your best foot forward.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="full-width-container no-padding border-bottom">
    <div class="footnotes compliance">
        <div class="compliance-title">
            418346 CAN/US (06/20)
        </div>
        <div class="compliance-body ">
            LawAssure is provided by Epoq, Inc. Epoq is an independent service provider and is not affiliated with Foresters. In Canada, not available in Quebec, the Yukon, the Northwest Territories and Nunavut. LawAssure is not a legal service or legal advice and is not a substitute for legal advice or services of a licensed attorney. Foresters Financial, their employees and life insurance representatives, do not provide, on Foresters behalf, legal, estate or tax advice.
        </div>
        <div class="compliance-link">
            <button class="link text-700 active" type="button"><span>Read more</span></button>
            <button class="link text-700" type="button"><span>Read less</span></button>
        </div>
    </div>
</div>