<!--this component can to be placed at the end of body tag-->
<div class="cookie-policy no-height">
    <div class="content">
        <p>
            We use cookies to improve your experience when you visit our website.
            By accepting cookies, we can enhance your online experience and make it easier for you to do many things,
            such as managing your membership account and improving our services.
            Cookies also allow us to tailor the content of our website including to show you promotions we think you may be interested in.
            Some cookies are essential for the operation of our website. Select "Accept All Cookies" to agree,
            or to learn more about cookies and how to manage them you can review our <a href="#" class="link">Cookie Policy</a>.
        </p>
        <div class="cta">
            <button id="acceptCookies" class="button-primary">Accept all cookies</button>
        </div>
    </div>
</div>