<div class="hero hero-theme-teal" style="background-image: url('/content/membership/assets/llp@3x.png')">
    <div class="content">
        <div class="logo">
            <img src="/content/membership/assets/icons-learning-promo.svg" />
        </div>
        <div class="title heading-1">
            Welcome, Nas. Lifelong Learning is now live!
        </div>
        <div class="desc text-1">
            Choose online courses that inspire you
        </div>
        <div class="ctas">
            <div class="cta">
                <a class="button-primary" href="#">Get started</a>
            </div>
        </div>
    </div>
</div>
<div class="full-width-container no-padding container-theme-dark">
    <div class="card-container card-container-theme-dark">
        <div class="card-header">
            <div class="title heading-1">
                Membership Matters
            </div>
            <div class="desc text-1">
                Lorem ipsum these helpful aticles include tips on how to plan for retirement, manage your money, set up a budget, deal with debt and much more.
            </div>
        </div>

        <div class="card-items d-none">
            <div class="card-item">
                <div class="logo">
                    <img src="/content/membership/assets/icons-lawassure-promo.svg" />
                </div>
                <div class='image-container' style="background-image: url('/content/membership/assets/kids@3x.png')">
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Can kids have life insurance?
                    </div>
                    <div class="desc text-1">
                        Life insurance for kids: Here are some of the benefits they can enjoy by having that added protection.
                    </div>
                </div>
                <div class="link-container">
                    <a href="#" class="link">Read the article</a>
                </div>
            </div>
            <div class="card-item card-theme-teal-light">
                <div class="logo">
                    <img src="/content/membership/assets/icons-lawassure-promo.svg" />
                </div>
                <div class="image-container">
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Protect and prepare with LawAssure
                    </div>
                    <div class="desc text-1">
                        LawAssure is a convenient online document preparation service provided through Epoq.
                    </div>
                </div>
                <div class="link-container">
                    <a href="#" class="link">Get started</a>
                </div>
            </div>
            <div class="card-item">
                <div class='image-container' style="background-image: url('/content/membership/assets/lifehack-anxiety@3x.png')">
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Lifehacks for living in an age of anxiety
                    </div>
                    <div class="desc text-1">
                        Feeling anxious? You have the power to feel better.
                    </div>
                </div>
                <div class="link-container">
                    <a href="#" class="link">Read the article</a>
                </div>
            </div>            
        </div>
        <div class="action d-none">
            <!--this section is only available when there are more than three card items-->
            <button class="button-secondary show-more selected" type="button">Show more</button>
            <button class="button-secondary show-less" type="button">Show less</button>
        </div>
    </div>
</div>
<!--height-ref and target-ref are used to adjust height inside a container composite-container, this is for activities-widget-->
<!--target-ref element height will be set to height-ref element with the same container, composite-container-->
<!--please refer to activities-widget.js under js/custom folder-->

<!--6 row example-->
<div class="full-width-container container-theme-light composite-container">
    <div class="one-third-container">
        <!--target element (.height-target)-->
        <div class='dynamic-image-container height-target'>
            <img src="/content/membership/assets/may-2019-foresters-report@3x.png" />
        </div>
    </div>
    <!--.height-ref is the element whose height will be used to align target element(.height-target)-->
    <div class="two-third-container height-ref">
        <div class="title heading-1">Member activities near you</div>
        <table class="date-time-table data-table">
            <tr class="data-table-header">
                <th class="data-table-cell header-cell">
                    Date/Time
                </th>
                <th class="data-table-cell header-cell">
                    Event
                </th>
                <th class="data-table-cell header-cell">
                    Status
                </th>
            </tr>
            <tr class="data-table-row">
                <td class="data-table-cell">
                    Sept 12 8:00 am - 2:00 pm
                </td>
                <td class="data-table-cell">
                    Foresters Care Kits for Norco JAAF lorem ipsum possible second line of title
                </td>
                <td class="data-table-cell">
                    Join waitlist
                </td>
            </tr>
            <tr class="data-table-row">
                <td class="data-table-cell">
                    Sept 12 8:00 am - 2:00 pm
                </td>
                <td class="data-table-cell">
                    Foresters Helps Heart to Heart
                </td>
                <td class="data-table-cell">
                    Registered
                </td>
            </tr>
            <tr class="data-table-row">
                <td class="data-table-cell">
                    Sept 12 8:00 am - 2:00 pm
                </td>
                <td class="data-table-cell">
                    Foresters Care Kits for Norco JAAF lorem ipsum possible second line of title
                </td>
                <td class="data-table-cell">
                    Join waitlist
                </td>
            </tr>
            <tr class="data-table-row">
                <td class="data-table-cell">
                    Sept 12 8:00 am - 2:00 pm
                </td>
                <td class="data-table-cell">
                    Foresters Helps Heart to Heart
                </td>
                <td class="data-table-cell">
                    Registered
                </td>
            </tr>
            <tr class="data-table-row">
                <td class="data-table-cell">
                    Sept 12 8:00 am - 2:00 pm
                </td>
                <td class="data-table-cell">
                    Foresters Care Kits for Norco JAAF lorem ipsum possible second line of title
                </td>
                <td class="data-table-cell">
                    Join waitlist
                </td>
            </tr>
            <tr class="data-table-row">
                <td class="data-table-cell">
                    Sept 12 8:00 am - 2:00 pm
                </td>
                <td class="data-table-cell">
                    Foresters Helps Heart to Heart
                </td>
                <td class="data-table-cell">
                    Registered
                </td>
            </tr>
        </table>
        <div class="ctas pt-16">
            <div class="cta">
                <a class="button-primary" href="#">Learn more</a>
            </div>
        </div>
    </div>   
</div>
<!--4 row example-->
<div class="full-width-container container-theme-light composite-container">
    <div class="one-third-container">
        <div class='dynamic-image-container height-target'>
            <img src="/content/membership/assets/may-2019-foresters-report@3x.png" />
        </div>
    </div>
    <div class="two-third-container height-ref">
        <div class="title heading-1">Member activities near you</div>
        <table class="date-time-table data-table">
            <tr class="data-table-header">
                <th class="data-table-cell header-cell">
                    Date/Time
                </th>
                <th class="data-table-cell header-cell">
                    Event
                </th>
                <th class="data-table-cell header-cell">
                    Status
                </th>
            </tr>            
            <tr class="data-table-row">
                <td class="data-table-cell">
                    Sept 12 8:00 am - 2:00 pm
                </td>
                <td class="data-table-cell">
                    Foresters Care Kits for Norco JAAF lorem ipsum possible second line of title
                </td>
                <td class="data-table-cell">
                    Join waitlist
                </td>
            </tr>
            <tr class="data-table-row">
                <td class="data-table-cell">
                    Sept 12 8:00 am - 2:00 pm
                </td>
                <td class="data-table-cell">
                    Foresters Helps Heart to Heart
                </td>
                <td class="data-table-cell">
                    Registered
                </td>
            </tr>
            <tr class="data-table-row">
                <td class="data-table-cell">
                    Sept 12 8:00 am - 2:00 pm
                </td>
                <td class="data-table-cell">
                    Foresters Care Kits for Norco JAAF lorem ipsum possible second line of title
                </td>
                <td class="data-table-cell">
                    Join waitlist
                </td>
            </tr>
            <tr class="data-table-row">
                <td class="data-table-cell">
                    Sept 12 8:00 am - 2:00 pm
                </td>
                <td class="data-table-cell">
                    Foresters Helps Heart to Heart
                </td>
                <td class="data-table-cell">
                    Registered
                </td>
            </tr>
        </table>
        <div class="ctas pt-16">
            <div class="cta">
                <a class="button-primary" href="#">Learn more</a>
            </div>
        </div>
    </div>   
</div>

<!--2 row example-->
<div class="full-width-container container-theme-light composite-container">
    <div class="one-third-container">
        <div class='dynamic-image-container height-target'>
            <img src="/content/membership/assets/may-2019-foresters-report@3x.png" />
        </div>
    </div>
    <div class="two-third-container height-ref">
        <div class="title heading-1">Member activities near you</div>
        <table class="date-time-table data-table">
            <tr class="data-table-header">
                <th class="data-table-cell header-cell">
                    Date/Time
                </th>
                <th class="data-table-cell header-cell">
                    Event
                </th>
                <th class="data-table-cell header-cell">
                    Status
                </th>
            </tr>
            <tr class="data-table-row">
                <td class="data-table-cell">
                    Sept 12 8:00 am - 2:00 pm
                </td>
                <td class="data-table-cell">
                    Foresters Care Kits for Norco JAAF lorem ipsum possible second line of title
                </td>
                <td class="data-table-cell">
                    Join waitlist
                </td>
            </tr>
            <tr class="data-table-row">
                <td class="data-table-cell">
                    Sept 12 8:00 am - 2:00 pm
                </td>
                <td class="data-table-cell">
                    Foresters Helps Heart to Heart
                </td>
                <td class="data-table-cell">
                    Registered
                </td>
            </tr>            
        </table>
        <div class="ctas pt-16">
            <div class="cta">
                <a class="button-primary" href="#">Learn more</a>
            </div>
        </div>
    </div>   
</div>
<div class="full-width-container container-theme-light">
    <div class="two-third-container">
        <div class='dynamic-image-container'>
            <img src="/content/membership/assets/scholarship-3@3x.png" />
        </div>
        <p class="text-center pt-16">Emilia Lopez, 2020 Foresters Competitive Scholarship winner</p>
    </div>
    <div class="one-third-container">
        <div class="title heading-1">Member activities near you</div>
        <p>
            Foresters Financial™ is proud to contribute to the success that education can bring to individuals, families and communities. Each year, we offer 250 tuition scholarships to eligible students pursuing post-secondary education at an accredited university, community college or trade program.
        </p>
        <p>
            If you’re a student who has performed a minimum of 40 hours of community service in the past 24 months and you had a minimum GPA of 2.8 or 70% last year, you could be eligible for one of our scholarships.
        </p>
        <div class="ctas pt-16">
            <div class="cta pr-16 pb-16">
                <a class="button-primary" href="#">Apply now</a>
            </div>
            <div class="cta">
                <a class="button-secondary" href="#">Learn more</a>
            </div>
        </div>        
    </div>
</div>