<div class="hero hero-theme-dark hero-gradient" style="background-image: url('/content/membership/assets/everdaymoney.png')">
    <div class="content">
        <div class="logo">
            <img src="/content/membership/assets/icons-everyday-money-promo.svg" />
        </div>
        <div class="title heading-1">
            Manage your Everyday Money
        </div>
        <div class="desc text-1">
            This free, confidential helpline connects you to an accredited counselor who can answer your personal finance questions.
        </div>
        <div class="ctas">
            <div class="cta">
                <button class="button-primary">Call now</button>
            </div>
        </div>
    </div>
</div>
<div class="hero hero-theme-light">
    <div class="content">
        <div class="logo">
        </div>
        <div class="title heading-1">
            How do I access Everyday Money?
        </div>
        <div class="desc text-1">
            Dial 800-444-3043 to access free financial advice. When contacting the service, you will need to provide your Foresters certificate number and briefly describe your financial matter. The helpline is open Monday to Friday between 7 a.m. and 9 p.m. EST and Saturday from 8 a.m. to 12 p.m. EST.
        </div>
        <div class="ctas">
            <div class="cta">
                <a class="link text-500" href="#"><span>Call now</span></a>
            </div>
        </div>
    </div>
</div>
<div class="full-width-container no-padding container-theme-dark">
    <div class="card-container card-container-theme-dark">
        <div class="card-header">
            <div class="title heading-italic-300">
                Everyday Money webinars & articles
            </div>
            <div class="desc text-1">
                These easy-to-follow videos and helpful aticles include tips on how to plan for retirement, manage your money, set up a budget, deal with debt and much more.
            </div>
        </div>

        <div class="card-items d-none">            
            <div class="card-item">
                <div class='image-container' style="background-image: url('/content/membership/assets/card-2.png')">
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Retirement Planing
                    </div>
                    <div class="desc text-1">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    </div>
                </div>
            </div>
            <div class="card-item">
                <div class='image-container' style="background-image: url('/content/membership/assets/card-1.jpg')">
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Retirement Planing
                    </div>
                    <div class="desc text-1">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    </div>
                </div>
            </div>
            <div class="card-item">
                <div class='image-container' style="background-image: url('/content/membership/assets/card-1.jpg')">
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Retirement Planing
                    </div>
                    <div class="desc text-1">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    </div>
                </div>
            </div>
            <div class="card-item">
                <div class='image-container' style="background-image: url('/content/membership/assets/card-3.png')">
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Retirement Planing
                    </div>
                    <div class="desc text-1">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    </div>
                </div>
            </div>
            <div class="card-item">
                <div class="image-container" style="background-image: url('/content/membership/assets/card-3.png')">
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Retirement Planing
                    </div>
                    <div class="desc text-1">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    </div>
                </div>
            </div>
            <div class="card-item">
                <div class='image-container' style="background-image: url('/content/membership/assets/card-2.png')">
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Retirement Planing
                    </div>
                    <div class="desc text-1">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    </div>
                </div>
            </div>
            <div class="card-item">
                <div class='image-container' style="background-image: url('/content/membership/assets/card-1.jpg')">
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Retirement Planing
                    </div>
                    <div class="desc text-1">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    </div>
                </div>
            </div>
            <div class="card-item">
                <div class='image-container' style="background-image: url('/content/membership/assets/card-1.jpg')">
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Retirement Planing
                    </div>
                    <div class="desc text-1">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    </div>
                </div>
            </div>
            <div class="card-item">
                <div class='image-container' style="background-image: url('/content/membership/assets/card-3.png')">
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Retirement Planing
                    </div>
                    <div class="desc text-1">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    </div>
                </div>
            </div>
            <div class="card-item">
                <div class="image-container" style="background-image: url('/content/membership/assets/card-3.png')">
                </div>
                <div class="content-wrapper">
                    <div class="heading-3">
                        Retirement Planing
                    </div>
                    <div class="desc text-1">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    </div>
                </div>
            </div>
        </div>
        <div class="action"><!--this section is only available when there are more than three card items-->
            <button class="button-secondary show-more selected" type="button">Show more</button>
            <button class="button-secondary show-less" type="button">Show less</button>
        </div>
    </div>
</div>
<div class="full-width-container container-theme-light">
    <!--tab component-->
    <div class="tabs-container">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <!--Note: href hash link needs to match the tab content item id, such as self_service_content and faqs_content-->
                <a class="nav-link active tab-title" id="self_service" data-toggle="tab" href="#self_service_content" role="tab" aria-controls="self_service" aria-selected="true">Worksheets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link tab-title" id="faqs" data-toggle="tab" href="#faqs_content" role="tab" aria-controls="faqs" aria-selected="false">Forms</a>
            </li>
        </ul>
        <div class="tab-content">
            <!--Note: the id of each tab content needs to match the href in the tab header-->
            <div class="tab-pane fade show active" id="self_service_content" role="tabpanel" aria-labelledby="self_service">
                <!--formn list component, this is not part of tab component-->
                <div class="form-list-title body-1-bold">
                    For your convenience, some of our most frequently used forms are available to download.
                </div>
                <div class="form-list accordion" id="service_forms">
                    <div class="">
                        <div class="card">
                            <div id="heading1">
                                <div class="accordion__link mb-0">
                                    How do I get involved as a volunteer with Foresters?
                                </div>
                                <a href="#" class="download"></a>
                            </div>
                            <div id="collapse1" class="collapse show">
                                <div class="card-body">
                                    Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam.
                                    Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim.
                                    <span class="read-more-container">
                                        <!--this ection needs to be dynamically controlled based on the content-->
                                        <a href="#" class="read-more active">Read More</a>
                                        <span class="read-more-content"> Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat.</span>
                                        <a href="#" class="read-less">Read Less</a>
                                    </span>
                                </div>
                            </div>
                            <div class="bottom-collapse"></div>
                        </div>
                        <div class="card">
                            <div id="heading2">
                                <div class="accordion__link mb-0">
                                    Where can I find events in my area?
                                </div>
                                <a href="#" class="download"></a>
                            </div>
                            <div id="collapse2" class="collapse show">
                                <div class="card-body">
                                    Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat.
                                    Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit.
                                </div>
                            </div>
                            <div class="bottom-collapse"></div>
                        </div>
                        <div class="card">
                            <div id="heading3">
                                <div class="accordion__link">
                                    Why can't I find an event in my area?
                                </div>
                                <a href="#" class="download"></a>
                            </div>
                            <div id="collapse3" class="collapse show">
                                <div class="card-body">
                                    Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                                </div>
                            </div>
                            <div class="bottom-collapse"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="faqs_content" role="tabpanel" aria-labelledby="faqs">
                <!--accordion-->
                <div class="accordion" id="faqs">
                    <div class="">
                        <div class="card">
                            <!--div id headingOne is used to linke heading and content using bootstrap js. This id can be arbitrary -->
                            <div id="headingOne">
                                <button class="accordion__link mb-0 collapsed" type="button" data-toggle="collapse" data-target="#columnOne" aria-expanded="false" aria-controls="collapseOne">
                                    How do I get involved as a volunteer with Foresters?
                                </button>
                            </div>
                            <!--div id columnOne are used to link heading with contents for screen readers (accessibility). This id can be arbitrary-->
                            <div id="columnOne" class="collapse" aria-labelledby="headingOne" data-parent="#faqs">
                                <div class="card-body">
                                    Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam.
                                    Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div id="headingTwo">
                                <button class="accordion__link mb-0 collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Where can I find events in my area?
                                </button>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqs">
                                <div class="card-body">
                                    Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat.
                                    Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div id="headingThree">
                                <button class="accordion__link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Why can't I find an event in my area?
                                </button>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqs">
                                <div class="card-body">
                                    Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>