@import "../../styles/_mixins.scss";

.create-password {
    display: block;
    background-color: white;
       
    .content-container {
        padding: 48px 20px;

        .create-password-form {

            .item-row {
                padding: 16px 0;

                .item-wrapper {
                    width: 100%;
                    padding-top: 8px;
                    padding-bottom: 8px;

                    &:first-child {
                        padding-top: 0;
                    }

                    &:last-child {
                        padding-bottom: 0;
                    }

                    .label-1 {
                        display: block;

                        .input-field {
                            font-family: MuseoSans-300;
                        }
                    }

                    .input-field {
                        width: 100%;
                    }

                    .toggle-pwd {
                        top: -44px;
                    }
                }
            }

            .info {

                .heading-1 {
                    padding-bottom: 16px;
                }

                .body-1 {
                    padding-bottom: 48px;
                }
            }

            .action {

                button {
                    width: 100%;
                    display: block;
                }
            }
        }
    }
}


@include respond-above(xs) {
    .create-password {

        .content-container {
            width: 596px;
            margin: 0 auto;

            .create-password-form {
                .item-row {
                    padding-top: 0;
                    padding-bottom: 0;
                }

                .info {
                    padding-bottom: 16px;

                    .heading-1 {
                        text-align: center;
                    }
                }

                .item-row {
                    padding: 16px 0;

                    .item-wrapper {
                        display: inline-block;
                        padding-top: 0;
                        padding-bottom: 0;

                        .input-field {
                            display: inline-block;
                        }
                    }
                }

                .action {

                    button {
                        width: 176px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }
    }
}