<div class="create-password">

    <!--Modal Popup for Registration Success-->
    <div class="modal-success d-none">
        <div class="backdrop"></div>
        <div class="success-content">
            <div class="icon-close"><button class="btn-close"></button></div>
            <div class="title content"><img class="success-icon" src="/content/membership/assets/success.svg" /><p>Account is Successfully Created</p></div>
            <div class="instr content">Lorem ipsum dolor sit amet, consectetur.</div>
            <a href="#" class="signin-link content"><div class="signin">Continue to Sign In</div></a>
        </div>
    </div>
    <div class="content-container">
        <form class="create-password-form" action="api/create-password" method="post">
            <div class="info">
                <div class="heading-1">Create a new password</div>
                <div class="body-2">Your password must be between 8 and 14 characters, include 1 upper case letter, 1 number, 1 special character, cannot contain your username, and cannot be one of your last 4 passwords used.</div>
            </div>
            <div class="item-row error-wrapper no-error" data-pwd-no-match-error="The new password and confirm password do not match">
                <!--adding no-error style will hide this error section-->
                <div class="error-title-wrapper"><span class="warning-icon">!</span><span class="error-title text-500">Verification Error</span></div>
                <div class="error-message">The information you entered seems to be incorrect. Please try again.</div>
            </div>
            <div class="item-row">
                <div class="item-wrapper">
                    <label class="label-1" for="password">
                        New Password
                        <input type="password" id="newPassword" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,14}" placeholder="Enter Password" class="input-field" id="password" required />
                        <span class="toggle-pwd">
                            <span id="show" class="show">Show</span>
                            <span id="hide" class="hide">Hide</span>
                        </span>
                        <span class="error">Please enter a valid password</span>
                    </label>
                </div>
            </div>
            <div class="item-row">
                <div class="item-wrapper">
                    <label class="label-1" for="confirmPassword">
                        Confirm Password
                        <input type="password" id="confirmPassword" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,14}" placeholder="Confirm Password" class="input-field" id="confirmPassword" required />
                        <span class="toggle-pwd">
                            <span id="show" class="show">Show</span>
                            <span id="hide" class="hide">Hide</span>
                        </span>
                        <span class="error">Please enter a valid confirm password</span>
                    </label>
                    <div class="caption-text">Both passwords must match</div>
                </div>
            </div>            
            <div class="item-row action submit">
                <!--show the busy cursor with darker background color by applying class active when ajax is in progerss-->
                <button type="submit" class="button-primary">Submit</button>
            </div>
            <div class="item-row action cancel">
                <button type="reset" class="button-tertiary">Cancel</button>
            </div>
        </form>
    </div>
</div>